Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

Enabling alpha (closed) channel for a few languages
  addons/languages/afrikaans_oss/apk/build.gradle
  addons/languages/armenian2/apk/build.gradle
  addons/languages/basque/apk/build.gradle
  addons/languages/belarusian/apk/build.gradle
  addons/languages/brazilian/apk/build.gradle
  addons/languages/bribri/apk/build.gradle
  addons/languages/italian/apk/build.gradle
  addons/languages/swedish/apk/build.gradle
  addons/languages/ukrainian/apk/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping packs version due to new UI
  addons/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

Using more shards for addons
  .github/workflows/checks.yml
  scripts/modules_sharder.py
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

A more specific branch name filter for releases
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Icelandic should be published to alpha
  addons/languages/icelandic/apk/build.gradle
Owners: @lumpidu, @AnySoftKeyboard/add-on-maintainers

Try to publish as much as possible
  .github/actions/deploy/deploy.sh
Owners: @AnySoftKeyboard/infra

Fixing closed channel for Coptic
  addons/languages/coptic/apk/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

Making sure the generated branch name is valid for github
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Ensuring Croatian knows the alpha channel
  addons/languages/croatian/apk/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

Danish alpha channel specification
  addons/languages/danish/apk/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

Marking channels for packs
  addons/languages/dutch/apk/build.gradle
  addons/languages/french/apk/build.gradle
  addons/languages/georgian/apk/build.gradle
  addons/languages/german/apk/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @Pippo8291

Additional publish config for packages
  addons/languages/kachin/apk/build.gradle
  addons/languages/kurdish/apk/build.gradle
  addons/languages/latvian/apk/build.gradle
  addons/languages/luxembourgish/apk/build.gradle
  addons/languages/norwegian/apk/build.gradle
  addons/languages/oldnortharabian/apk/build.gradle
  addons/languages/polish/apk/build.gradle
  addons/languages/portuguese/apk/build.gradle
  addons/languages/romanian/apk/build.gradle
  addons/themes/ics/apk/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @wahballat

Additional packages sign and channel config
  addons/languages/indonesian/apk/build.gradle
  addons/languages/ossturkish/apk/build.gradle
  addons/languages/rusyn/apk/build.gradle
  addons/languages/sardinian/apk/build.gradle
  addons/languages/serbian/apk/build.gradle
  addons/languages/sinhala/apk/build.gradle
  addons/languages/slovak/apk/build.gradle
  addons/languages/slovene/apk/build.gradle
  addons/languages/songhay/apk/build.gradle
  addons/languages/spain/apk/build.gradle
  addons/languages/swedish/apk/build.gradle
  addons/languages/tamazight/apk/build.gradle
  addons/languages/thai/apk/build.gradle
  addons/languages/ukrainian/apk/build.gradle
Owners: @sslaia, @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping Android Gradle Plugin to version 8.3.1 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Adding Classic Theme to the alpha channel
  addons/themes/classic_pc/apk/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-ka-rGE/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping actions/cache to version 4.0.2.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Trying to be more specific with caching
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping crowdin/github-action to version 1.20.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  ime/app/src/main/res/values-nl-rNL/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Schedule addons branch promotions
  .github/workflows/deployment_promote.yml
Owners: @AnySoftKeyboard/infra

remove should not publish field
  addons/languages/klingon/apk/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

Delete Screenshot_Portrait.png
  addons/languages/klingon/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Portrait.png
Owners: @AnySoftKeyboard/add-on-maintainers

Delete Screenshot_Landscape.png
  addons/languages/klingon/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Landscape.png
Owners: @AnySoftKeyboard/add-on-maintainers

Update/Rebase to other branch
  addons/languages/klingon/apk/build.gradle
  addons/languages/klingon/apk/src/main/play/contact-email.txt
  addons/languages/klingon/apk/src/main/play/contact-website.txt
  addons/languages/klingon/apk/src/main/play/default-language.txt
  addons/languages/klingon/apk/src/main/play/listings/en-US/full-description.txt
  addons/languages/klingon/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Landscape.png
  addons/languages/klingon/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Portrait.png
  addons/languages/klingon/apk/src/main/play/listings/en-US/short-description.txt
  addons/languages/klingon/apk/src/main/play/listings/en-US/title.txt
  addons/languages/klingon/apk/src/main/play/release-notes/en-US/alpha.txt
Owners: @AnySoftKeyboard/add-on-maintainers

Automated gradle 8.7 update
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-tr-rTR/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping crowdin/github-action to version 1.20.1.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping crowdin/github-action to version 1.20.2.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping Android Gradle Plugin to version 8.3.2 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

android-studio complains that it is not utf8 char
  buildSrc/src/main/java/Parser.java
Owners: @AnySoftKeyboard/infra

Bumping peter-evans/create-pull-request to version 6.0.3.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Automatically bump wordlist dictionaries
  .github/workflows/update_aosp_dictionaries.yml
  js/upadte_aosp_dictionaries/aosp_mapping.yml
  js/upadte_aosp_dictionaries/index.ts
  js/upadte_aosp_dictionaries/lineage_mapping.yml
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Renaming dictionary files to the proper name
  addons/languages/brazilian/pack/dictionary/pt_BR_wordlist.combined.gz
  addons/languages/english/pack/dictionary/en_wordlist.combined.gz
  addons/languages/french/pack/dictionary/fr_wordlist.combined.gz
  addons/languages/greek/pack/dictionary/el_wordlist.combined.gz
  addons/languages/hebrew/pack/dictionary/iw_wordlist.combined.gz
  addons/languages/italian/pack/dictionary/it_wordlist.combined.gz
  addons/languages/lithuanian/pack/dictionary/lt_wordlist.combined.gz
  addons/languages/portuguese/pack/dictionary/aosp.combined.gz
  addons/languages/portuguese/pack/dictionary/pt_PT_wordlist.combined.gz
  addons/languages/romanian/pack/dictionary/ro_wordlist.combined.gz
  addons/languages/russian2/pack/dictionary/ru_wordlist.combined.gz
Owners: @AnySoftKeyboard/add-on-maintainers

Adding missing dictionary file for Dutch
  addons/languages/dutch/pack/dictionary/nl_wordlist.combined.gz
Owners: @AnySoftKeyboard/add-on-maintainers
