Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Perform dictionary diff and copy only changed dictionaries
  js/upadte_aosp_dictionaries/index.ts
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Fix ts lint issues
  .eslintrc
  js/upadte_aosp_dictionaries/index.ts
Owners: @AnySoftKeyboard/maintainers

Bumping peter-evans/create-pull-request to version 6.0.4.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Automated robolectric 4.12.1 update
  gradle/root_all_projects_ext.gradle
  scripts/robolectric_jars_versions.txt
Owners: @AnySoftKeyboard/infra

Fix API change for Robolectric bump
  ime/fileprovider/src/test/java/com/anysoftkeyboard/fileprovider/LocalProxyTest.java
Owners: @AnySoftKeyboard/maintainers

Bumping actions/upload-artifact to version 4.3.2.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Automated gradle 8.8 update
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Bumping actions/checkout to version 4.1.6.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/upload-artifact to version 4.3.3.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping crowdin/github-action to version 2.0.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping peter-evans/create-pull-request to version 6.0.5.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 4.0.0.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Automated robolectric 4.12.2 update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Fix typo in update-aosp-dict path
  .github/workflows/update_aosp_dictionaries.yml
  js/update_aosp_dictionaries/aosp_mapping.yml
  js/update_aosp_dictionaries/index.ts
  js/update_aosp_dictionaries/lineage_mapping.yml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated AOSP Dictionaries Update
  addons/languages/english/pack/dictionary/en_wordlist.combined.gz
  addons/languages/hebrew/pack/dictionary/iw_wordlist.combined.gz
  addons/languages/italian/pack/dictionary/it_wordlist.combined.gz
Owners: @AnySoftKeyboard/add-on-maintainers

Update packs_md_update.yml
  .github/workflows/packs_md_update.yml
Owners: @AnySoftKeyboard/infra

Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @AnySoftKeyboard/developers

Bumping actions/checkout to version 4.1.7.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-de-rDE/strings.xml
  addons/base/apk/src/main/res/values-pt-rPT/strings.xml
  addons/base/apk/src/main/res/values-tr-rTR/strings.xml
  ime/app/src/main/res/values-da-rDK/strings.xml
  ime/app/src/main/res/values-de-rDE/strings.xml
  ime/app/src/main/res/values-pt-rPT/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping peter-evans/create-pull-request to version 6.1.0.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Add missing turkish characters into "turkish_withoutaccented.xml"
  addons/languages/ossturkish/pack/src/main/res/xml/turkish_withoutaccented.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping Android Gradle Plugin to version 8.5.0 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Android Annotations Compat Library to version 1.8.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/base-rx/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/jnidictionaryv1/build.gradle
  ime/dictionaries/jnidictionaryv2/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.13.1 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Test Support library to version 1.6.1 from https://dl.google.com/dl/android/maven2.
  api/build.gradle
  ime/base-test/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping JUnit Test Support library to version 1.2.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/releaseinfo/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping App Compat library to version 1.7.0 from https://dl.google.com/dl/android/maven2.
  addons/base/apk/build.gradle
  ime/addons/build.gradle
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/build.gradle
  ime/notification/build.gradle
  ime/permissions/build.gradle
  ime/releaseinfo/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Material Design library to version 1.12.0 from https://dl.google.com/dl/android/maven2.
  addons/base/apk/build.gradle
  ime/app/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Update additionals.xml
  addons/languages/english/pack/dictionary/prebuilt/additionals.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Update websites.xml
  addons/languages/english/pack/dictionary/prebuilt/websites.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Update russian_qwerty.xml
  addons/languages/russian2/pack/src/main/res/xml/russian_qwerty.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping actions/setup-node to version 4.0.3.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/upload-artifact to version 4.3.6.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping crowdin/github-action to version 2.1.1.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping peter-evans/create-pull-request to version 6.1.0.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping Android Gradle Plugin to version 8.5.2 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Android Annotations Compat Library to version 1.8.2 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/base-rx/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/jnidictionaryv1/build.gradle
  ime/dictionaries/jnidictionaryv2/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.13.1 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
Owners: @AnySoftKeyboard/maintainers

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
