Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Adding spotless setup
  build.gradle
  gradle/android_general.gradle
  gradle/spotless.gradle
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

AGP lint fixes
  ime/app/src/main/java/com/anysoftkeyboard/devicespecific/PressVibratorV1.java
Owners: @AnySoftKeyboard/maintainers

Support spotless auto-update
  .github/workflows/third_party_update.yml
  scripts/get_latest_maven_artifact_version.sh
Owners: @AnySoftKeyboard/infra

Locale fix for JDK17
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardForceLocaleTest.java
  ime/app/src/test/java/com/anysoftkeyboard/utils/LocaleToolsTest.java
Owners: @AnySoftKeyboard/maintainers

Jacoco for JDK17
  gradle/jacoco.gradle
Owners: @AnySoftKeyboard/infra

No need for build-config class everywhere
  gradle.properties
  ime/app/build.gradle
  ime/dictionaries/build.gradle
  ime/nextword/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-ka/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Fail when contributors generation fails
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  scripts/generate_contributors_md.sh
Owners: @AnySoftKeyboard/infra

fix workflow name
  .github/workflows/generate_contributors_list.yml
Owners: @AnySoftKeyboard/infra

Needs JDK17 to run gradle
  .github/workflows/generate_contributors_list.yml
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Fix test-connection class for empty clipboards
  ime/app/src/test/java/com/anysoftkeyboard/TestInputConnection.java
Owners: @AnySoftKeyboard/maintainers

Automated Robolectric Update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

fix markdown formatting
  README.md
Owners: @AnySoftKeyboard/developers

Automated Robolectric Update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-fr/strings.xml
  ime/app/src/main/res/values-ro/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping Android Annotations Compat Library to version 1.6.0-dev01 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/base-rx/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/jnidictionaryv1/build.gradle
  ime/dictionaries/jnidictionaryv2/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.10.0 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.5.7 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Material Design library to version 1.9.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Build-Tools Update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Initial commit. Got the build working! Time to get started.
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Added T9 dictionary button. No logic yet! Good start though.
  ime/app/src/main/res/xml/prefs_dictionaries.xml
Owners: @AnySoftKeyboard/maintainers

Renamed feature to T9 Suggestions
  ime/app/src/main/res/xml/prefs_dictionaries.xml
Owners: @AnySoftKeyboard/maintainers

A generalized workflow for update third-party deps
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
  scripts/ci/third-party-update/build_tools/add_files_to_commit.sh
  scripts/ci/third-party-update/build_tools/get_latest_version.sh
  scripts/ci/third-party-update/build_tools/sanity_check.sh
  scripts/ci/third-party-update/build_tools/update_to_version.sh
  scripts/ci/third-party-update/error_prone/add_files_to_commit.sh
  scripts/ci/third-party-update/error_prone/get_latest_version.sh
  scripts/ci/third-party-update/error_prone/sanity_check.sh
  scripts/ci/third-party-update/error_prone/update_to_version.sh
  scripts/ci/third-party-update/get_latest_github_version.sh
  scripts/ci/third-party-update/get_latest_maven_artifact_version.sh
  scripts/ci/third-party-update/gradle/add_files_to_commit.sh
  scripts/ci/third-party-update/gradle/get_latest_version.sh
  scripts/ci/third-party-update/gradle/sanity_check.sh
  scripts/ci/third-party-update/gradle/update_to_version.sh
  scripts/ci/third-party-update/robolectric/add_files_to_commit.sh
  scripts/ci/third-party-update/robolectric/get_latest_version.sh
  scripts/ci/third-party-update/robolectric/sanity_check.sh
  scripts/ci/third-party-update/robolectric/update_to_version.sh
  scripts/ci/third-party-update/spotless/add_files_to_commit.sh
  scripts/ci/third-party-update/spotless/get_latest_version.sh
  scripts/ci/third-party-update/spotless/sanity_check.sh
  scripts/ci/third-party-update/spotless/update_to_version.sh
  scripts/ci/third-party-update/update_third_party_artifacts.sh
  scripts/ci/third-party-update/verify-third-party-update-greps.sh
  scripts/ci/third-party-update/version_grep_regex.sh
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  ime/app/src/main/res/values-kmr/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Fix shell paths for third-party updates
  .github/workflows/third_party_update.yml
  scripts/ci/third-party-update/error_prone/update_to_version.sh
  scripts/ci/third-party-update/get_latest_maven_artifact_version.sh
  scripts/ci/third-party-update/robolectric/update_to_version.sh
  scripts/ci/third-party-update/spotless/get_latest_version.sh
  scripts/ci/third-party-update/spotless/update_to_version.sh
  scripts/ci/third-party-update/update_third_party_artifacts.sh
  scripts/ci/third-party-update/version_grep_regex.sh
Owners: @AnySoftKeyboard/infra

breaking version on space rather than newline
  scripts/ci/third-party-update/get_latest_maven_artifact_version.sh
Owners: @AnySoftKeyboard/infra

Automated error_prone 3.1.0 2.19.0 update
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/infra

Bumping Android Annotations Compat Library to version 1.6.0-dev01 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/base-rx/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/jnidictionaryv1/build.gradle
  ime/dictionaries/jnidictionaryv2/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.10.1 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.5.7 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Material Design library to version 1.9.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated error_prone 3.1.0 2.19.1 update
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/infra

Fixing kotlin deps resolution with duplicate classes
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Fixes for GH CI git ownership issues
  .github/actions/deploy-request/deployment_request.sh
  .github/actions/deploy/deploy.sh
  scripts/ci/ci_merge_to_default_branch.sh
  scripts/generate_contributors_md.sh
Owners: @AnySoftKeyboard/infra

Bumping Fragment Support library to version 1.5.7 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Material Design library to version 1.9.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated error_prone 3.1.0 2.19.0 update
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/infra

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
