Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

Moving UI elements to pixel package
  ime/app/src/main/java/com/anysoftkeyboard/quicktextkeys/ui/QuickKeysKeyboardPagerAdapter.java
  ime/app/src/main/java/com/anysoftkeyboard/quicktextkeys/ui/QuickTextPagerView.java
  ime/app/src/main/res/layout/quick_text_popup_autorowkeyboard_view.xml
  ime/app/src/main/res/layout/quick_text_popup_root_view.xml
  ime/app/src/test/java/com/anysoftkeyboard/quicktextkeys/ui/QuickKeysKeyboardPagerAdapterTest.java
  ime/app/src/test/java/com/anysoftkeyboard/quicktextkeys/ui/QuickTextPagerViewTest.java
  ime/app/src/testAllAddOns/java/com/anysoftkeyboard/keyboards/LoadedKeyboardsVerificationTest.java
  ime/pixel/src/main/java/net/evendanan/pixel/ScrollViewWithDisable.java
  ime/pixel/src/main/java/net/evendanan/pixel/ViewPagerWithDisable.java
  ime/pixel/src/test/java/net/evendanan/pixel/ScrollViewWithDisableTest.java
  ime/pixel/src/test/java/net/evendanan/pixel/ViewPagerWithDisableTest.java
Owners: @AnySoftKeyboard/maintainers

Allow override of dictionary words in tests
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardGimmicksTest.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardSelectionModificationTest.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardShiftStateFromInputTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboardTest.java
  ime/app/src/test/java/com/menny/android/anysoftkeyboard/ShadowDictionaryAddOnAndBuilder.java
  ime/app/src/testAllAddOns/java/com/anysoftkeyboard/keyboards/LoadedKeyboardsVerificationTest.java
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

A few test setup fixes for API33+
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardBaseTest.java
  ime/app/src/test/java/com/anysoftkeyboard/TestableAnySoftKeyboard.java
  ime/app/src/test/java/com/menny/android/anysoftkeyboard/AnyRoboApplication.java
  ime/app/src/test/java/com/menny/android/anysoftkeyboard/InputMethodManagerShadow.java
Owners: @AnySoftKeyboard/maintainers

Convert keys zoom factor to slide in prefs
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardRxPrefs.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/KeyboardSupport.java
  ime/app/src/main/res/values/integers.xml
  ime/app/src/main/res/values/settings_defaults_dont_translate.xml
  ime/app/src/main/res/values/settings_keys_dont_translate.xml
  ime/app/src/main/res/values/strings.xml
  ime/app/src/main/res/xml/prefs_keyboard_theme_tweaks.xml
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/setup/SetupSupportTest.java
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/RxSharedPrefs.java
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Allow adding extra bottom padding to the keyboard
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBar.java
  ime/app/src/main/res/values/integers.xml
  ime/app/src/main/res/values/settings_defaults_dont_translate.xml
  ime/app/src/main/res/values/settings_keys_dont_translate.xml
  ime/app/src/main/res/values/strings.xml
  ime/app/src/main/res/xml/prefs_effects_prefs.xml
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBarTest.java
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Not apply extra-padding in landscape
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBar.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBarTest.java
  ime/prefs/src/test/java/com/anysoftkeyboard/prefs/RxSharedPrefsTest.java
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/addons/src/main/res/values-hu/strings.xml
  ime/addons/src/main/res/values-it/strings.xml
  ime/addons/src/main/res/values-ro/strings.xml
  ime/addons/src/main/res/values-tr/strings.xml
  ime/app/src/main/res/values-ar/strings.xml
  ime/app/src/main/res/values-en/strings.xml
  ime/app/src/main/res/values-hu/strings.xml
  ime/app/src/main/res/values-it/strings.xml
  ime/app/src/main/res/values-ka/strings.xml
  ime/app/src/main/res/values-ro/strings.xml
  ime/app/src/main/res/values-tr/strings.xml
  ime/chewbacca/src/main/res/values-hu/strings.xml
  ime/chewbacca/src/main/res/values-it/strings.xml
  ime/chewbacca/src/main/res/values-ka/strings.xml
  ime/chewbacca/src/main/res/values-ro/strings.xml
  ime/chewbacca/src/main/res/values-tr/strings.xml
  ime/pixel/src/main/res/values-hu/strings.xml
  ime/pixel/src/main/res/values-it/strings.xml
  ime/pixel/src/main/res/values-ka/strings.xml
  ime/pixel/src/main/res/values-ro/strings.xml
  ime/pixel/src/main/res/values-tr/strings.xml
  ime/releaseinfo/src/main/res/values-hu/strings.xml
  ime/releaseinfo/src/main/res/values-it/strings.xml
  ime/releaseinfo/src/main/res/values-ka/strings.xml
  ime/releaseinfo/src/main/res/values-ro/strings.xml
  ime/releaseinfo/src/main/res/values-tr/strings.xml
  ime/remote/src/main/res/values-hu/strings.xml
  ime/remote/src/main/res/values-it/strings.xml
  ime/remote/src/main/res/values-ro/strings.xml
  ime/remote/src/main/res/values-tr/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

JS fixes to use module and next-node tc options
  js/auto_approval/approval.test.ts
  js/auto_approval/approval.ts
  js/auto_approval/index.ts
  js/contributors/contributors.test.ts
  js/contributors/index.ts
  package.json
  tsconfig.json
Owners: @AnySoftKeyboard/maintainers

manual bump to gradle 8.5
  buildSrc/build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Remove redundant version pinning
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Update auto-approval dist
  .github/actions/auto_approval/dist/index.js
  .github/actions/auto_approval/dist/package.json
  package.json
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated gradle 8.6 update
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-hu/strings.xml
  ime/app/src/main/res/values-pl/strings.xml
  ime/app/src/main/res/values-tr/strings.xml
  ime/releaseinfo/src/main/res/values-tr/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Fix next-word auto-pick bug
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/SuggestImpl.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestionsTest.java
Owners: @AnySoftKeyboard/maintainers

Add Gershayim to Hebrew
  addons/languages/hebrew/pack/src/main/res/xml/heb_qwerty_niqquds.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping Navigation Safe Args to version 2.7.7 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.7 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.7 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.7 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Better shift state propogation to suggestions
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/Suggest.java
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/SuggestImpl.java
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/SuggestionsProvider.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
  ime/app/src/test/java/com/anysoftkeyboard/TestableAnySoftKeyboard.java
  ime/app/src/test/java/com/anysoftkeyboard/dictionaries/SuggestTest.java
  ime/app/src/test/java/com/anysoftkeyboard/dictionaries/SuggestionsProviderTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardKeyboardTagsSearcherTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestionsTest.java
Owners: @AnySoftKeyboard/maintainers

wip
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/Suggest.java
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/SuggestImpl.java
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-ka/strings.xml
  ime/chewbacca/src/main/res/values-ka/strings.xml
  ime/pixel/src/main/res/values-ka/strings.xml
  ime/releaseinfo/src/main/res/values-ka/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-sc/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Packs List Update
  addons/languages/PACKS.md
Owners: @AnySoftKeyboard/developers

en dvorak: add ð & þ
  addons/languages/kachin/pack/src/main/res/xml/dvorak.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Localization Update from crowdin
  ime/addons/src/main/res/values-nl/strings.xml
  ime/app/src/main/res/values-nl/strings.xml
  ime/chewbacca/src/main/res/values-nl/strings.xml
  ime/pixel/src/main/res/values-nl/strings.xml
  ime/releaseinfo/src/main/res/values-nl/strings.xml
  ime/remote/src/main/res/values-nl/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping Android Gradle Plugin to version 8.3.0 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Suppress lint for sdk-suppress
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardForceLocaleTest.java
  ime/app/src/test/java/com/anysoftkeyboard/utils/LocaleToolsTest.java
Owners: @AnySoftKeyboard/maintainers

Adding base launcher activity for add ons
  addons/base/apk/build.gradle
  addons/base/apk/src/debug/res/drawable-nodpi/test_screenshot.png
  addons/base/apk/src/debug/res/values/test_strings.xml
  addons/base/apk/src/main/AndroidManifest.xml
  addons/base/apk/src/main/java/com/anysoftkeyboard/addon/apk/MainActivity.kt
  addons/base/apk/src/main/res/layout/activity_main.xml
  addons/base/apk/src/main/res/values/strings.xml
  addons/base/apk/src/test/AndroidManifest.xml
  addons/base/apk/src/test/java/com/anysoftkeyboard/addon/apk/MainActivityBaseTest.kt
  build.gradle
  gradle/android_general.gradle
  settings.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Add support for ktlint in spotless
  addons/base/apk/src/main/java/com/anysoftkeyboard/addon/apk/MainActivity.kt
  addons/base/apk/src/test/java/com/anysoftkeyboard/addon/apk/MainActivityBaseTest.kt
  gradle/spotless.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/infra

Add auto-generated laucher activity for packs
  addons/StoreStuff/assets/AndroidManifest.xml.addon.template
  addons/StoreStuff/assets/MainActivity.java.template
  addons/base/apk/build.gradle
  addons/base/apk/src/debug/res/values/test_strings.xml
  addons/base/apk/src/main/java/com/anysoftkeyboard/addon/apk/MainActivity.kt
  addons/base/apk/src/main/res/layout/activity_main.xml
  addons/base/apk/src/main/res/values/strings.xml
  addons/base/apk/src/test/java/com/anysoftkeyboard/addon/apk/MainActivityBaseTest.kt
  addons/gradle/pack_apk.gradle
  addons/languages/hebrew/apk/src/main/AndroidManifest.xml
  addons/languages/hebrew/apk/src/main/play/listings/en-US/full-description.txt
  addons/languages/hebrew/apk/src/main/play/listings/en-US/graphics/feature-graphic/pack_store_feature_graphics.png
  addons/languages/hebrew/apk/src/main/play/listings/en-US/graphics/icon/pack_store_icon.png
  addons/languages/hebrew/apk/src/main/play/listings/en-US/title.txt
  addons/languages/hebrew/apk/src/main/res/mipmap-hdpi/ic_launcher.png
  addons/languages/hebrew/apk/src/main/res/mipmap-mdpi/ic_launcher.png
  addons/languages/hebrew/apk/src/main/res/mipmap-xhdpi/ic_launcher.png
  addons/languages/hebrew/apk/src/main/res/mipmap-xxhdpi/ic_launcher.png
  addons/languages/hebrew/apk/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  addons/languages/hebrew/apk/src/main/res/values/strings.xml
  buildSrc/src/main/java/GeneratePackActivitySources.java
  gradle/apk_module.gradle
  ime/app/src/main/AndroidManifest.xml
  ime/app/src/main/res/drawable/ic_launcher_foreground.xml
  ime/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  ime/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  ime/app/src/main/res/mipmap-hdpi/ic_launcher.png
  ime/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  ime/app/src/main/res/mipmap-mdpi/ic_launcher.png
  ime/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  ime/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  ime/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  ime/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  ime/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  ime/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  ime/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Fix apk/aab file copier
  .github/actions/deploy/deploy.sh
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  addons/gradle/pack_apk.gradle
  gradle/apk_module.gradle
  ime/app/build.gradle
  ime/app/proguard-dont-obs.txt
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Sharing basic IME icon with all
  ime/pixel/src/main/res/drawable/ic_launcher_foreground.xml
  ime/releaseinfo/src/main/AndroidManifest.xml
  ime/releaseinfo/src/main/res/layout/changelog.xml
Owners: @AnySoftKeyboard/maintainers

Ensuring we can use convert commnad
  .github/actions/deploy/deploy.sh
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Additional fixes related to xml escape
  addons/languages/nias/apk/src/main/play/listings/en-US/full-description.txt
  buildSrc/src/main/java/GeneratePackActivitySources.java
Owners: @sslaia, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/infra

Using updated docker image in CI
  .github/actions/codecov/action.yml
  .github/actions/collect-reports/action.yml
  .github/actions/deploy-request/action.yml
  .github/actions/deploy/action.yml
  .github/actions/deploy/deploy.sh
  .github/actions/test-shard-run/action.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra
