Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-fi/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

member field mPerformedUpdateSuggestions renamed as mRestartedWordSuggestions
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
Owners: @AnySoftKeyboard/maintainers

boolean replaced with hashset member field as requested during reviewing
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
Owners: @AnySoftKeyboard/maintainers

made the code more efficient
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
Owners: @AnySoftKeyboard/maintainers

getTextAfterCursor gets called only if mPerformedUpdateSuggestions is true
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
Owners: @AnySoftKeyboard/maintainers

do not add a space on manually picked if there is already a space or punctuation
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
Owners: @AnySoftKeyboard/maintainers

added new italian layouts: no apostrophe variants and QWERTZ variants
  addons/languages/italian/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_1.png
  addons/languages/italian/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_2.png
  addons/languages/italian/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_3.png
  addons/languages/italian/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_4.png
  addons/languages/italian/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_5.png
  addons/languages/italian/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_6.png
  addons/languages/italian/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_7.png
  addons/languages/italian/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_8.png
  addons/languages/italian/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_9.png
  addons/languages/italian/apk/src/main/play/release-notes/en-US/alpha.txt
  addons/languages/italian/apk/src/main/play/release-notes/it-IT/alpha.txt
  addons/languages/italian/pack/src/main/res/values/italian_pack_strings.xml
  addons/languages/italian/pack/src/main/res/values/italian_pack_strings_dont_translate.xml
  addons/languages/italian/pack/src/main/res/xml/italian_keyboards.xml
  addons/languages/italian/pack/src/main/res/xml/italian_qwerty_stripped.xml
  addons/languages/italian/pack/src/main/res/xml/italian_qwerty_with_symbols_number_row_alt.xml
  addons/languages/italian/pack/src/main/res/xml/italian_qwertz_with_symbols_number_row_alt.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-es-rMX/strings.xml
  ime/app/src/main/res/values-es/strings.xml
  ime/app/src/main/res/values-uk/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Using docker from ghcr
  .devcontainer/Dockerfile
  .github/actions/codecov/action.yml
  .github/actions/collect-reports/action.yml
  .github/actions/deploy-request/action.yml
  .github/actions/deploy/action.yml
  .github/actions/test-shard-run/action.yml
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Fix git operation with new checkout-action
  scripts/ci/ci_check.sh
Owners: @AnySoftKeyboard/infra

Approving gh checkout ownership issues
  .github/workflows/deploy.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  scripts/ci/ci_setup.sh
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  ime/app/src/main/res/values-ku/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping RecyclerView library to version 1.3.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping App Compat library to version 1.6.1 from https://dl.google.com/dl/android/maven2.
  ime/addons/build.gradle
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.5.6 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Gradle Update
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Faster GC
  gradle.properties
Owners: @AnySoftKeyboard/maintainers

Testing alternate qwerty spacebar layout
  addons/languages/english/pack/src/main/res/xml/qwerty.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Move new layout to separate file
  addons/languages/english/pack/src/main/res/values/english_pack_strings.xml
  addons/languages/english/pack/src/main/res/xml/english_keyboards.xml
  addons/languages/english/pack/src/main/res/xml/qwerty_wide_spacebar.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Restore removed symbols to ',' key
  addons/languages/english/pack/src/main/res/xml/qwerty_wide_spacebar.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Randomly generate id for new keyboard
  addons/languages/english/pack/src/main/res/values/english_pack_strings_dont_translate.xml
  addons/languages/english/pack/src/main/res/xml/english_keyboards.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Gradle Update
  gradle/wrapper/gradle-wrapper.properties
Owners: @AnySoftKeyboard/infra

Automated Error-Prone Update and auto-patches if possible
  build.gradle
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Put the full stop back where it belongs
  addons/languages/english/pack/src/main/res/xml/qwerty_wide_spacebar.xml
Owners: @AnySoftKeyboard/add-on-maintainers

switch order of search for speech-to-text
  ime/voiceime/src/main/java/com/google/android/voiceime/VoiceRecognitionTrigger.java
Owners: @AnySoftKeyboard/maintainers

fix formatting
  ime/voiceime/src/main/java/com/google/android/voiceime/VoiceRecognitionTrigger.java
Owners: @AnySoftKeyboard/maintainers

switch order of search for speech-to-text (fixed formatting)
  ime/voiceime/src/main/java/com/google/android/voiceime/VoiceRecognitionTrigger.java
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-fo/strings.xml
  ime/app/src/main/res/values-id/strings.xml
  ime/app/src/main/res/values-or/strings.xml
  ime/app/src/main/res/values/force_locale_array_generated.xml
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

fix formatting part 2
  ime/voiceime/src/main/java/com/google/android/voiceime/VoiceRecognitionTrigger.java
Owners: @AnySoftKeyboard/maintainers

Fix typo for identifying duplicate words
  buildSrc/src/main/java/MergeWordsListTask.java
Owners: @AnySoftKeyboard/infra

Remove urdu input file to force processing of prebuilt dict
  addons/languages/urdu/pack/dictionary/inputs/urdu_most_commonly_used_words_5000.txt
Owners: @mirfatif, @AnySoftKeyboard/add-on-maintainers

Fix build folder search heuristic for duplicate word finding
  buildSrc/src/main/java/MergeWordsListTask.java
Owners: @AnySoftKeyboard/infra

Fix build folder search heuristic for duplicate word finding
  buildSrc/src/main/java/MergeWordsListTask.java
Owners: @AnySoftKeyboard/infra

Remove urdu input file to force processing of prebuilt dict
  addons/languages/urdu/pack/dictionary/inputs/urdu_most_commonly_used_words_5000.txt
Owners: @mirfatif, @AnySoftKeyboard/add-on-maintainers

Automated Google-Format Update
  addons/languages/afrikaans_oss/pack/src/main/java/com/anysoftkeyboard/languagepack/afrikaans_oss/PackBroadcastReceiver.java
  addons/languages/swedish/pack/src/main/java/com/anysoftkeyboard/languagepack/swedish/PackBroadcastReceiver.java
  addons/themes/classic_pc/pack/src/main/java/com/anysoftkeyboard/themes/classic_pc/pack/PackBroadcastReceiver.java
  addons/themes/three_d/pack/src/main/java/com/anysoftkeyboard/themes/three_d/pack/PackBroadcastReceiver.java
  build.gradle
  ime/addons/src/main/java/com/anysoftkeyboard/addons/AddOnsFactory.java
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/AutoTextImpl.java
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/content/ContactsDictionary.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/Keyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/KeyboardSwitcher.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBase.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/widget/AddOnStoreSearchView.java
  ime/app/src/main/java/com/menny/android/anysoftkeyboard/LauncherSettingsActivity.java
  ime/app/src/test/java/com/anysoftkeyboard/RobolectricFragmentActivityTestCase.java
  ime/pixel/src/main/java/net/evendanan/pixel/SlidePreference.java
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Fix link to missing "Get it on F-Droid" image
  README.md
Owners: @AnySoftKeyboard/developers

use file sep for heuristic
  buildSrc/src/main/java/MergeWordsListTask.java
Owners: @AnySoftKeyboard/infra

Using JDK17
  .github/actions/codecov/action.yml
  .github/actions/collect-reports/action.yml
  .github/actions/deploy-request/action.yml
  .github/actions/deploy/action.yml
  .github/actions/test-shard-run/action.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .java-version
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Remove google-java-format plugin
  .github/workflows/third_party_update.yml
  CONTRIBUTING.md
  build.gradle
  buildSrc/build.gradle
  gradle/android_general.gradle
  junit-sharding/build.gradle
  scripts/ci/ci_check.sh
  scripts/error-prone-auto-patch.sh
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/developers, @AnySoftKeyboard/maintainers
