Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

yamllint is already installed in the docker image
  scripts/ci/ci_check_yamls.sh
Owners: @AnySoftKeyboard/infra

New android image and cache-key
  .github/actions/codecov/action.yml
  .github/actions/collect-reports/action.yml
  .github/actions/deploy-request/action.yml
  .github/actions/deploy/action.yml
  .github/actions/test-shard-run/action.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Using a more specific image in some cases
  .github/actions/deploy-request/action.yml
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

A newer docker image
  .devcontainer/Dockerfile
  .github/actions/codecov/action.yml
  .github/actions/collect-reports/action.yml
  .github/actions/deploy-request/action.yml
  .github/actions/deploy/action.yml
  .github/actions/test-shard-run/action.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

TS based addon-id dupelication checker
  js/checkers/checker.ts
  js/checkers/index.ts
  js/checkers/unique_addon_id.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Replacing bash-based unique id checker
  scripts/ci/ci_check.sh
Owners: @AnySoftKeyboard/infra

addon id fixes
  addons/languages/kurdish/pack/src/main/res/xml/kurdish_dictionaries.xml
  addons/languages/ossturkish/pack/src/main/res/xml/turkish_dictionaries.xml
  addons/languages/slovak/pack/src/main/res/xml/slovak_dictionaries.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Adding unit-tests for the ts based checker
  js/checkers/checker.ts
  js/checkers/index.ts
  js/checkers/unique_addon_id.test.ts
  js/checkers/unique_addon_id.ts
  package.json
  tsconfig.json
Owners: @AnySoftKeyboard/maintainers

Moving pnpm run to another step
  .github/workflows/checks.yml
  scripts/ci/ci_check.sh
Owners: @AnySoftKeyboard/infra

Bumping Android Gradle Plugin to version 8.7.3 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.15.0 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
  ime/prefs/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation Safe Args to version 2.8.4 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping actions/cache to version 4.2.0.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/developers, @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.4 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.4 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.4 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping crowdin/github-action to version 2.4.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  .github/actions/auto_approval/dist/index.js
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated AOSP Dictionaries Update
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Allow passing folder for codecov
  .github/actions/codecov/action.yml
  .github/actions/codecov/upload_coverage.sh
Owners: @AnySoftKeyboard/infra

Initial bazel workspace
  .bazelversion
  .gitignore
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bazel
  package.json
Owners: @AnySoftKeyboard/maintainers

testing bazel setup in CI
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Letting pnpm GH action take the version from package.json
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

First TS lib
  .bazelrc
  MODULE.bazel.lock
  js/BUILD.bazel
  js/auto_approval/BUILD.bazel
  js/auto_approval/approval.ts
  js/tsconfig.json
Owners: @AnySoftKeyboard/maintainers

Fixes around bazel build and test
  .github/workflows/checks.yml
  .nvmrc
  MODULE.bazel
  MODULE.bazel.lock
  js/BUILD.bazel
  js/auto_approval/BUILD.bazel
  js/auto_approval/approval.ts
  js/checkers/unique_addon_id.ts
  js/jest.config.json
  js/ts_test.bzl
  js/tsconfig.json
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

fix path to tsconfig
  js/tsconfig.json
  package.json
Owners: @AnySoftKeyboard/maintainers

Putting gloval js related config files at the root of the repo
  BUILD.bazel
  jest.config.json
  js/BUILD.bazel
  js/auto_approval/BUILD.bazel
  js/ts.bzl
  js/ts_test.bzl
  package.json
  tsconfig.json
Owners: @AnySoftKeyboard/maintainers

adding more packages to bazel
  js/checkers/BUILD.bazel
  js/contributors/BUILD.bazel
  js/update_aosp_dictionaries/index.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Owners: @AnySoftKeyboard/maintainers

Adding eslint in bazel using rules_lint
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  js/checkers/unique_addon_id.test.ts
  js/ts.bzl
  package.json
  tools/BUILD.bazel
  tools/linters.bzl
  tsconfig.json
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  .github/actions/auto_approval/dist/index.js
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Introduce bazel-based formatters
  .github/workflows/deploy.yml
  .prettierignore
  .yamlfmt.yml
  BUILD.bazel
  MODULE.bazel.lock
  js/ts.bzl
  tools/BUILD.bazel
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Removing formatters from non-bazel
  .github/workflows/checks.yml
  package.json
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Using bazel-setup GH action instead of docker container
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

adding js_binary and adding build files everywhere
  .github/workflows/deploy.yml
  .yamlfmt.yml
  MODULE.bazel
  MODULE.bazel.lock
  js/checkers/BUILD.bazel
  js/contributors/BUILD.bazel
  js/ts.bzl
  js/update_aosp_dictionaries/BUILD.bazel
  package.json
  pnpm-lock.yaml
  tools/BUILD.bazel
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Ignoring node_module and bazel out folders in checkers
  .github/workflows/deploy.yml
  js/checkers/index.ts
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

A small code re-order
  js/checkers/index.ts
Owners: @AnySoftKeyboard/maintainers

Replacing pnpm exec with bazel run
  .github/actions/auto_approval/action.yml
  .github/actions/auto_approval/dist/index.js
  .github/actions/auto_approval/dist/package.json
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
