Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

breaking version on space rather than newline
  scripts/ci/third-party-update/get_latest_maven_artifact_version.sh
Owners: @AnySoftKeyboard/infra

Bumping Android Annotations Compat Library to version 1.6.0-dev01 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/base-rx/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/jnidictionaryv1/build.gradle
  ime/dictionaries/jnidictionaryv2/build.gradle
Owners: @AnySoftKeyboard/maintainers

Fixes for GH CI git ownership issues
  .github/actions/deploy-request/deployment_request.sh
  .github/actions/deploy/deploy.sh
  scripts/ci/ci_merge_to_default_branch.sh
  scripts/generate_contributors_md.sh
Owners: @AnySoftKeyboard/infra

Automated error_prone 3.1.0 2.19.1 update
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/infra

Fixing kotlin deps resolution with duplicate classes
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.10.1 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
Owners: @AnySoftKeyboard/maintainers

Fix Code of Conduct link in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @AnySoftKeyboard/developers

Automated robolectric 4.10.3 update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

remove should not publish field
  addons/languages/klingon/apk/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping Android Gradle Plugin to version 8.0.2 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated spotless 6.19.0 1.17.0 update
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Don't show voice result dialog when only 1 result
  ime/voiceime/src/main/java/com/google/android/voiceime/ActivityHelper.java
Owners: @AnySoftKeyboard/maintainers

use prebuilt dictionary since dictionary generated from combined.gz file is faulty and does not generate words with "matras"
  addons/languages/hindi/pack/dictionary/prebuilt/hindi_high_freq_words.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Fix formatting, improve readability
  ime/voiceime/src/main/java/com/google/android/voiceime/ActivityHelper.java
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-de/strings.xml
  ime/app/src/main/res/values-it/strings.xml
  ime/app/src/main/res/values-sk/strings.xml
  ime/app/src/main/res/values-tr/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Update qwerty.xml
  addons/languages/english/pack/src/main/res/xml/qwerty.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Extracting market search from app module
  ime/addons/build.gradle
  ime/addons/src/debug/res/layout/test_search_layout.xml
  ime/addons/src/debug/res/values/test_resources.xml
  ime/addons/src/main/java/com/anysoftkeyboard/addons/ui/AddOnStoreSearchView.java
  ime/addons/src/main/res/layout/addon_store_search_view.xml
  ime/addons/src/main/res/values/strings.xml
  ime/addons/src/test/java/com/anysoftkeyboard/addons/ui/AddOnStoreSearchViewTest.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/AbstractAddOnsBrowserFragment.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/WizardLanguagePackFragment.java
  ime/app/src/main/res/values-en/strings.xml
  ime/app/src/main/res/values-large-land/dimens.xml
  ime/app/src/main/res/values-large/dimens.xml
  ime/app/src/main/res/values-tl/strings.xml
  ime/app/src/main/res/values-xlarge-land/dimens.xml
  ime/app/src/main/res/values-xlarge/dimens.xml
  ime/app/src/main/res/values/colors.xml
  ime/app/src/main/res/values/dimens.xml
  ime/app/src/main/res/values/strings.xml
  ime/app/src/main/res/values/styles.xml
  ime/pixel/src/main/res/drawable/card_background_normal.xml
  ime/pixel/src/main/res/drawable/window_popup_background.xml
  ime/pixel/src/main/res/drawable/window_popup_background_inner.xml
  ime/pixel/src/main/res/values-large-land/dimens.xml
  ime/pixel/src/main/res/values-large/dimens.xml
  ime/pixel/src/main/res/values-night/colors.xml
  ime/pixel/src/main/res/values-xlarge-land/dimens.xml
  ime/pixel/src/main/res/values-xlarge/dimens.xml
  ime/pixel/src/main/res/values/app_styles.xml
  ime/pixel/src/main/res/values/colors.xml
  ime/pixel/src/main/res/values/dimens.xml
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Fix string update script
  ime/addons/src/main/java/com/anysoftkeyboard/addons/ui/AddOnStoreSearchController.java
  ime/addons/src/main/java/com/anysoftkeyboard/addons/ui/AddOnStoreSearchView.java
  ime/addons/src/main/res/values-en/strings.xml
  ime/addons/src/main/res/values-he/strings.xml
  ime/addons/src/main/res/values-yi/strings.xml
  ime/addons/src/test/java/com/anysoftkeyboard/addons/ui/AddOnStoreSearchControllerTest.java
  ime/addons/src/test/java/com/anysoftkeyboard/addons/ui/AddOnStoreSearchViewTest.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/AbstractAddOnsBrowserFragment.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/WizardLanguagePackFragment.java
  ime/base-test/src/main/java/com/anysoftkeyboard/test/GeneralDialogTestUtil.java
  ime/remote/src/main/res/values-en/strings.xml
  ime/remote/src/main/res/values-he/strings.xml
  ime/remote/src/main/res/values-yi/strings.xml
  scripts/update_strings_from_crowdin_api.sh
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/infra

Using controller in search-view
  ime/addons/src/main/java/com/anysoftkeyboard/addons/ui/AddOnStoreSearchView.java
  ime/addons/src/test/java/com/anysoftkeyboard/addons/ui/AddOnStoreSearchViewTest.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/AbstractAddOnsBrowserFragment.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardViewRelatedTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboardTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardKeyboardSwitchingTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/AdditionalUiSettingsFragmentTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/GesturesSettingsFragmentTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/MainFragmentTest.java
Owners: @AnySoftKeyboard/maintainers

Additional fixes for generic dialog test utils move
  gradle.properties
  ime/addons/src/debug/res/values/test_resources.xml
  ime/addons/src/main/res/drawable-hdpi/ic_action_search.png
  ime/addons/src/main/res/drawable-mdpi/ic_action_search.png
  ime/addons/src/main/res/drawable-xhdpi/ic_action_search.png
  ime/addons/src/main/res/drawable-xxhdpi/ic_action_search.png
  ime/addons/src/main/res/layout/addon_store_search_view.xml
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/setup/WizardLanguagePackFragmentTest.java
  ime/base-test/src/test/java/com/anysoftkeyboard/test/GeneralDialogControllerTest.java
  ime/remote/src/main/res/values/strings.xml
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Localization Update from crowdin
  ime/addons/src/main/res/values-sc/strings.xml
  ime/app/src/main/res/values-sc/strings.xml
  ime/remote/src/main/res/values-sc/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated gradle 8.2.1 update
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Bumping Navigation Safe Args to version 2.6.0 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.6.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.6.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.6.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.6.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Do not search for RC in build-tools
  scripts/ci/third-party-update/build_tools/get_latest_version.sh
Owners: @AnySoftKeyboard/infra

Using PAUSED looper where possible
  ime/app/src/test/java/com/anysoftkeyboard/RobolectricFragmentActivityTestCase.java
  ime/app/src/test/java/com/anysoftkeyboard/RobolectricFragmentTestCase.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBaseTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewWithMiniKeyboardTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/AdditionalUiSettingsFragmentTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/MainFragmentTest.java
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated build_tools 34.0.0 update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  ime/addons/src/main/res/values-lt/strings.xml
  ime/remote/src/main/res/values-lt/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Move auto-approval js to a new folder
  .github/actions/auto_approval/action.yml
  .github/actions/auto_approval/package-lock.json
  .nvmrc
  js/auto_approval/dist/index.js
  js/auto_approval/index.js
  js/auto_approval/package-lock.json
  js/auto_approval/package.json
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Bump all js deps
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

convert auto-approval to TS and add tests
  .github/actions/auto_approval/action.yml
  .github/actions/auto_approval/dist/index.js
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .gitignore
  .npmrc
  js/auto_approval/approval.test.ts
  js/auto_approval/approval.ts
  js/auto_approval/auto_approval.ts
  js/auto_approval/index.js
  js/auto_approval/package.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/addons/src/main/res/values-pl/strings.xml
  ime/remote/src/main/res/values-pl/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

package modules script
  .github/actions/auto_approval/dist/index.js
  .github/workflows/checks.yml
  js/auto_approval/approval.test.ts
  js/auto_approval/index.ts
  js/auto_approval/package-lock.json
  js/auto_approval/package.json
  package.json
  tsconfig.json
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Convert Contributors generation to TS
  js/contributors/contributors.test.ts
  js/contributors/contributors.ts
  js/contributors/index.ts
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers
