Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Update additionals.xml
  addons/languages/english/pack/dictionary/prebuilt/additionals.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Update cyrillic_qwerty.xml
  addons/languages/russian2/pack/src/main/res/xml/cyrillic_qwerty.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Migrate gradle tasks to JS for deployment github API
  .github/workflows/deployment_promote.yml
  js/github_deployments/BUILD.bazel
  js/github_deployments/deployment.ts
  js/github_deployments/deployment_config.ts
  js/github_deployments/deployment_request.ts
  js/github_deployments/deployment_status.ts
  js/github_deployments/github_api.ts
  js/github_deployments/index.ts
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Fix dupe AI word
  addons/languages/english/pack/dictionary/prebuilt/additionals.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Remove gradle part of deployment
  buildSrc/build.gradle
  buildSrc/src/main/java/deployment/DeploymentPlugin.java
  buildSrc/src/main/java/deployment/DeploymentProcessConfiguration.java
  buildSrc/src/main/java/deployment/DeploymentRequestProcessStepTask.java
  buildSrc/src/main/java/deployment/DeploymentStatusRequestTask.java
  buildSrc/src/main/java/deployment/DeploymentSuccessRequestTask.java
  buildSrc/src/main/java/deployment/RequestCommandLineArgs.java
  buildSrc/src/main/java/github/DeploymentCreate.java
  buildSrc/src/main/java/github/DeploymentStatus.java
  buildSrc/src/main/java/github/DeploymentsList.java
  buildSrc/src/main/java/github/GsonCreator.java
  buildSrc/src/main/java/github/HttpClientCreator.java
  buildSrc/src/main/java/github/RestRequestPerformer.java
  deployment/build.gradle
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

use the new deployment tool
  .github/actions/deploy-request/action.yml
  .github/actions/deploy-request/deployment_request.sh
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/manual_deploy.yml
  js/github_deployments/deployment.ts
  js/github_deployments/index.ts
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Add unit-tests for deployment
  js/github_deployments/BUILD.bazel
  js/github_deployments/deployment.test.ts
  js/github_deployments/deployment.ts
  js/github_deployments/deployment_config.test.ts
  js/github_deployments/deployment_config.ts
  js/github_deployments/deployment_request.test.ts
  js/github_deployments/deployment_status.test.ts
  js/github_deployments/github_api.test.ts
  js/github_deployments/github_api.ts
  js/github_deployments/index.ts
Owners: @AnySoftKeyboard/maintainers

ignore js-binary code for coverage
  codecov_bazel.yml
Owners: @AnySoftKeyboard/maintainers

Fixes to the composite action
  .github/actions/deploy-request/action.yml
  .github/workflows/checks.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/manual_deploy.yml
Owners: @AnySoftKeyboard/infra

Adding shell statement to composite action
  .github/actions/deploy-request/action.yml
Owners: @AnySoftKeyboard/infra

Fix gh client creation fix
  js/github_deployments/deployment_request.ts
  js/github_deployments/index.ts
Owners: @AnySoftKeyboard/maintainers

Handle empty step and correctly pass getCommit args
  js/github_deployments/deployment.ts
  js/github_deployments/deployment_request.test.ts
  js/github_deployments/deployment_request.ts
  js/github_deployments/index.ts
Owners: @AnySoftKeyboard/maintainers

Passing refname for deployment creation
  js/github_deployments/deployment.test.ts
  js/github_deployments/deployment.ts
  js/github_deployments/deployment_request.test.ts
  js/github_deployments/deployment_request.ts
Owners: @AnySoftKeyboard/maintainers

Passing correct shard name
  js/github_deployments/index.ts
Owners: @AnySoftKeyboard/maintainers

formatting issue
  js/github_deployments/index.ts
Owners: @AnySoftKeyboard/maintainers

deploy without docker
  .github/actions/deploy/deploy.sh
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
Owners: @AnySoftKeyboard/infra

small style changes
  js/localization_tools/replace_ellipsis.test.ts
  js/localization_tools/replace_ellipsis.ts
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Remove unused js deps
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Adding missing popup character for Cyrillix
  addons/languages/russian2/pack/src/main/res/xml/cyrillic_qwerty.xml
Owners: @AnySoftKeyboard/add-on-maintainers

A few styling changes
  js/localization_tools/BUILD.bazel
  js/localization_tools/utils.test.ts
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Enable promotion to addons 5.1-r2
  .github/workflows/deployment_promote.yml
Owners: @AnySoftKeyboard/infra

Ignore non related deployments by branch type
  js/github_deployments/deployment.test.ts
  js/github_deployments/deployment.ts
  js/github_deployments/deployment_config.test.ts
  js/github_deployments/deployment_config.ts
  js/github_deployments/index.ts
Owners: @AnySoftKeyboard/maintainers

Initial Cursor rule for AnySoftKeyboard
  .cursor/rules/anysoftkeyboard.mdc
Owners: @AnySoftKeyboard/maintainers

Automated Android Deps update from maven
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated error_prone 4.3.0 2.39.0 update
  build.gradle
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Addition naming rules
  .cursor/rules/anysoftkeyboard.mdc
Owners: @AnySoftKeyboard/maintainers

Fix deploy step time calculation
  js/github_deployments/deployment.ts
  js/github_deployments/deployment_request.ts
  js/github_deployments/github_api.test.ts
  js/github_deployments/github_api.ts
  js/github_deployments/index.ts
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Add gemini-cli to the workspace
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

AI rules
  .cursor/rules/anysoftkeyboard.mdc
  GEMINI.md
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/developers

Gemini fixing missing suggestions bug
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestionsTest.java
Owners: @AnySoftKeyboard/maintainers

gemini adds ts unit-tests
  .cursor/rules/anysoftkeyboard.mdc
  GEMINI.md
  js/deps_updater/BUILD.bazel
  js/deps_updater/github_actions_updater.test.ts
  js/deps_updater/github_actions_updater.ts
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/developers

Automated Android Deps update from maven
  build.gradle
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Gemini fixes restart suggestions
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestionsTest.java
Owners: @AnySoftKeyboard/maintainers

[Gemini-cli] Fix OutOfMemoryError in GestureTypingDetector
  ime/app/src/main/java/com/anysoftkeyboard/gesturetyping/GestureTypingDetector.java
Owners: @AnySoftKeyboard/maintainers

AI rules update
  .cursor/rules/anysoftkeyboard.mdc
  GEMINI.md
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/developers

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
