Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

Bumping RecyclerView library to version 1.3.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.6.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping compile-sdk level
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Do not use onTaskAdded, use configure
  gradle/apk_module.gradle
Owners: @AnySoftKeyboard/infra

Bumping Android Gradle Plugin to version 8.1.2 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Draw-Behind modification only onStart
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBar.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBarTest.java
Owners: @AnySoftKeyboard/maintainers

Temporary fix for Yochees Light theme having unreadable icons
  ime/app/src/main/res/values/styles_yochees_keyboard_theme.xml
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Gradle uses release name as version name
  scripts/ci/third-party-update/get_latest_github_version_title.sh
  scripts/ci/third-party-update/gradle/get_latest_version.sh
Owners: @AnySoftKeyboard/infra

Bumping target SDK to 33 as required by Play-Store
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Bumping Navigation Safe Args to version 2.7.4 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.4 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.4 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.4 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Material Design library to version 1.10.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Ignore pnpm lock file for yaml linting
  config/yamllint.yml
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

initial commit
  addons/languages/pilaga/apk/build.gradle
  addons/languages/pilaga/apk/flag/flag.svg
  addons/languages/pilaga/apk/release/output-metadata.json
  addons/languages/pilaga/apk/src/main/AndroidManifest.xml
  addons/languages/pilaga/apk/src/main/play/contact-email.txt
  addons/languages/pilaga/apk/src/main/play/contact-website.txt
  addons/languages/pilaga/apk/src/main/play/default-language.txt
  addons/languages/pilaga/apk/src/main/play/listings/en-US/full-description.txt
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/feature-graphic/pack_store_feature_graphics.png
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/icon/pack_store_icon.png
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/phone-screenshots/1.png
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/phone-screenshots/2.png
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/phone-screenshots/3.png
  addons/languages/pilaga/apk/src/main/play/listings/en-US/short-description.txt
  addons/languages/pilaga/apk/src/main/play/listings/en-US/title.txt
  addons/languages/pilaga/apk/src/main/play/release-notes/en-US/alpha.txt
  addons/languages/pilaga/apk/src/main/res/mipmap-hdpi/ic_launcher.png
  addons/languages/pilaga/apk/src/main/res/mipmap-mdpi/ic_launcher.png
  addons/languages/pilaga/apk/src/main/res/mipmap-xhdpi/ic_launcher.png
  addons/languages/pilaga/apk/src/main/res/mipmap-xxhdpi/ic_launcher.png
  addons/languages/pilaga/apk/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  addons/languages/pilaga/apk/src/main/res/values/strings.xml
  addons/languages/pilaga/build.gradle
  addons/languages/pilaga/pack/build.gradle
  addons/languages/pilaga/pack/dictionary/cuentos_pilaga.combined
  addons/languages/pilaga/pack/dictionary/pi_wordlist.combined
  addons/languages/pilaga/pack/src/main/AndroidManifest.xml
  addons/languages/pilaga/pack/src/main/java/com/anysoftkeyboard/languagepack/pilaga/PackBroadcastReceiver.java
  addons/languages/pilaga/pack/src/main/res/drawable-hdpi/ic_status_pilaga.png
  addons/languages/pilaga/pack/src/main/res/drawable-mdpi/ic_status_pilaga.png
  addons/languages/pilaga/pack/src/main/res/drawable-xhdpi/ic_status_pilaga.png
  addons/languages/pilaga/pack/src/main/res/drawable-xxhdpi/ic_status_pilaga.png
  addons/languages/pilaga/pack/src/main/res/drawable-xxxhdpi/ic_status_pilaga.png
  addons/languages/pilaga/pack/src/main/res/values/pilaga_strings.xml
  addons/languages/pilaga/pack/src/main/res/xml/pi_qwerty.xml
  addons/languages/pilaga/pack/src/main/res/xml/pilaga_autotext.xml
  addons/languages/pilaga/pack/src/main/res/xml/pilaga_dictionaries.xml
  addons/languages/pilaga/pack/src/main/res/xml/pilaga_keyboards.xml
  buildSrc/src/main/java/Parser.java
  settings.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

added new pilagá texts
  addons/languages/pilaga/pack/dictionary/cuentos_pilaga.combined
  addons/languages/pilaga/pack/src/main/res/values/pilaga_strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

updates on manifest and keyboard layout
  addons/languages/pilaga/apk/src/main/AndroidManifest.xml
  addons/languages/pilaga/pack/src/main/AndroidManifest.xml
  addons/languages/pilaga/pack/src/main/res/xml/pi_qwerty.xml
Owners: @AnySoftKeyboard/add-on-maintainers

updated screenshots
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/phone-screenshots/1.png
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/phone-screenshots/2.png
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/phone-screenshots/3.png
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_1.png
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_2.png
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_3.png
  addons/languages/pilaga/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_4.png
Owners: @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping RecyclerView library to version 1.3.2 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

updated popup characters
  addons/languages/pilaga/apk/src/main/play/listings/en-US/full-description.txt
  addons/languages/pilaga/apk/src/main/play/release-notes/en-US/alpha.txt
  addons/languages/pilaga/pack/src/main/res/xml/pi_qwerty.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Script to install to device from AAB
  scripts/install-aab-on-device.sh
Owners: @AnySoftKeyboard/infra

Committing updated setup instructions in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @AnySoftKeyboard/developers

Bumping Navigation Safe Args to version 2.7.5 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.6.2 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping Android Gradle Plugin to version 8.1.3 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

updates to ndk version and corresponding documentation
  CONTRIBUTING.md
  gradle/root_all_projects_ext.gradle
  ime/app/build.gradle
Owners: @AnySoftKeyboard/developers, @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Bumping Android Gradle Plugin to version 8.1.4 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Customize symbol keyboards and switch keys
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/KeyboardSwitcher.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBase.java
  ime/app/src/main/res/values/mirfatif_strings.xml
  ime/app/src/main/res/xml/mirfatif_simple_numbers.xml
  ime/app/src/main/res/xml/mirfatif_simple_phone.xml
  ime/app/src/main/res/xml/mirfatif_symbols.xml
  ime/app/src/main/res/xml/mirfatif_symbols_alt.xml
  ime/app/src/main/res/xml/mirfatif_symbols_equal.xml
  ime/app/src/main/res/xml/mirfatif_symbols_one.xml
Owners: @AnySoftKeyboard/maintainers

Build changes
  addons/languages/english/pack/build.gradle
  gradle/root_all_projects_ext.gradle
  gradle/wrapper/gradle-wrapper.properties
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/infra

committing update to setup instructions and tweak to sideBySideNdkVersion. The currently specified version 23 doesn't correspond with the setup instructions where it asks for version 14.
  CONTRIBUTING.md
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/developers, @AnySoftKeyboard/infra
