Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

Fix deleter
  .github/workflows/localization_update.yml
  js/localization_tools/deleter.ts
  js/localization_tools/index.ts
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Adding tests for local tools
  js/localization_tools/BUILD.bazel
  js/localization_tools/deleter.test.ts
  js/localization_tools/deleter.ts
  js/localization_tools/locales_generator.test.ts
Owners: @AnySoftKeyboard/maintainers

Bumping actions/setup-node to version 3.9.1.
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping bazel-contrib/setup-bazel to version 0.14.0.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/upload-artifact to version 4.6.2.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping codecov/codecov-action to version 5.4.3.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping crowdin/github-action to version 2.7.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 4.1.0.
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping peter-evans/create-pull-request to version 7.0.8.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

localization workflow fix
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

only skip completely untranslated files
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Do not do git operations in crowdin job
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

dbg localization
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Using crowdin CLI instead of GH action
  .github/workflows/localization_update.yml
  WORKSPACE.bzlmod
  tools/BUILD.bazel
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Use TS for ellipsis replacing
  .github/workflows/localization_update.yml
  js/localization_tools/BUILD.bazel
  js/localization_tools/deleter.ts
  js/localization_tools/index.ts
  js/localization_tools/locales_generator.test.ts
  js/localization_tools/locales_generator.ts
  js/localization_tools/replace_ellipsis.ts
  js/localization_tools/utils.ts
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Fix ellipsis
  ime/app/src/main/res/values-ar-rSA/strings.xml
  ime/app/src/main/res/values-be-rBY/strings.xml
  ime/app/src/main/res/values-es-rES/strings.xml
  ime/app/src/main/res/values-fi-rFI/strings.xml
  ime/app/src/main/res/values-hu-rHU/strings.xml
  ime/app/src/main/res/values-pt-rBR/strings.xml
  ime/app/src/main/res/values-pt-rPT/strings.xml
  ime/app/src/main/res/values-ru-rRU/strings.xml
  ime/app/src/main/res/values-tr-rTR/strings.xml
  ime/chewbacca/src/main/res/values-ar-rSA/strings.xml
  ime/chewbacca/src/main/res/values-nl-rNL/strings.xml
  ime/chewbacca/src/main/res/values-ro-rRO/strings.xml
  ime/pixel/src/main/res/values-es-rES/strings.xml
  ime/pixel/src/main/res/values-et-rEE/strings.xml
  ime/pixel/src/main/res/values-pl-rPL/strings.xml
  ime/pixel/src/main/res/values-ru-rRU/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values/force_locale_array_generated.xml
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.7 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Convert deps updater for maven and gh-actions to TypeScript
  .github/workflows/third_party_update.yml
  js/deps_updater/BUILD.bazel
  js/deps_updater/github_actions_updater.ts
  js/deps_updater/gradle_deps_to_update.ts
  js/deps_updater/gradle_deps_updater.ts
  js/deps_updater/index.ts
  js/deps_updater/latest_version_locator.test.ts
  js/deps_updater/latest_version_locator.ts
  package.json
  pnpm-lock.yaml
  scripts/ci/third-party-update/update_github_actions.sh
  scripts/ci/third-party-update/update_third_party_artifacts.sh
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

A few small human changes
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardRxPrefs.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardForceLocaleTest.java
  js/localization_tools/locales_generator.test.ts
  js/localization_tools/locales_generator.ts
Owners: @AnySoftKeyboard/maintainers

Identifying Jules as a bot
  js/contributors/contributors.ts
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values/force_locale_array_generated.xml
  ime/permissions/src/main/res/values-lt-rLT/strings.xml
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping actions/setup-node to version 3.9.1.
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/upload-artifact to version 4.6.2.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping codecov/codecov-action to version 5.4.3.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping bazel-contrib/setup-bazel to version 0.14.0.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Bumping peter-evans/create-pull-request to version 7.0.8.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 4.1.0.
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Automated gradle 8.14.1 update
  gradle/wrapper/gradle-wrapper.properties
Owners: @AnySoftKeyboard/infra

Human changes before PR
  MODULE.bazel
  MODULE.bazel.lock
  js/oxc_emitter.bzl
  js/tests/oxc_emitter_test/BUILD.bazel
  js/tests/oxc_emitter_test/another.ts
  js/tests/oxc_emitter_test/test.ts
Owners: @AnySoftKeyboard/maintainers

A few tsconfig improvements
  js/auto_approval/BUILD.bazel
  js/check_all_green/BUILD.bazel
  js/checkers/BUILD.bazel
  js/contributors/BUILD.bazel
  js/localization_tools/BUILD.bazel
  js/ts.bzl
  js/update_aosp_dictionaries/BUILD.bazel
  tsconfig.json
Owners: @AnySoftKeyboard/maintainers

Running all binaries for sanity
  .github/workflows/checks.yml
  MODULE.bazel
  MODULE.bazel.lock
  emojis/EmojiLayoutsGenerator.java
  package.json
  tsconfig.json
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Bumping actions/setup-node to version 3.9.1.
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping bazel-contrib/setup-bazel to version 0.14.0.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/upload-artifact to version 4.6.2.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping codecov/codecov-action to version 5.4.3.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping peter-evans/create-pull-request to version 7.0.8.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra
