Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

Convert workflow to use TC version
  .github/workflows/generate_contributors_list.yml
  build.gradle
  buildSrc/src/main/java/contributors/ContributorsPlugin.java
  buildSrc/src/main/java/contributors/FetchContributorsListTask.java
  buildSrc/src/main/java/contributors/GenerateContributorsFileTask.java
  buildSrc/src/main/java/github/ContributorsList.java
  scripts/generate_contributors_md.sh
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Upgrade js deps
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Fix JS upgrade
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Update third_party_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated spotless 6.20.0 1.17.0 update
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Don't hard-code Google Voice Input for ImeTrigger
  ime/voiceime/src/main/java/com/google/android/voiceime/ImeTrigger.java
Owners: @AnySoftKeyboard/maintainers

Prioritize ImeTrigger over IntentApiTrigger
  ime/voiceime/src/main/java/com/google/android/voiceime/VoiceRecognitionTrigger.java
Owners: @AnySoftKeyboard/maintainers

Fix formatting
  ime/voiceime/src/main/java/com/google/android/voiceime/VoiceRecognitionTrigger.java
Owners: @AnySoftKeyboard/maintainers

Add tests to voiceime
  ime/voiceime/build.gradle
  ime/voiceime/src/main/java/com/google/android/voiceime/VoiceRecognitionTrigger.java
  ime/voiceime/src/test/java/com/google/android/voiceime/VoiceRecognitionTriggerTest.java
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/addons/src/main/res/values-de/strings.xml
  ime/addons/src/main/res/values-ka/strings.xml
  ime/app/src/main/res/values-bn/strings.xml
  ime/remote/src/main/res/values-de/strings.xml
  ime/remote/src/main/res/values-ka/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Add GB region for localisation
  ime/app/src/main/res/values-en-rGB/currency_data.xml
Owners: @AnySoftKeyboard/maintainers

Updating keys
  ime/app/src/main/res/xml/prefs_gestures_prefs.xml
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Fix up/down arrow mix up in hacker keyboard full layout
  addons/languages/hackerkeyboard/pack/src/main/res/xml/hacker_full.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Add Hacker Keyboard Layout Pack
  addons/languages/hackerkeyboard/apk/build.gradle
  addons/languages/hackerkeyboard/apk/flag/flag.svg
  addons/languages/hackerkeyboard/apk/src/main/AndroidManifest.xml
  addons/languages/hackerkeyboard/apk/src/main/play/contact-email.txt
  addons/languages/hackerkeyboard/apk/src/main/play/contact-website.txt
  addons/languages/hackerkeyboard/apk/src/main/play/default-language.txt
  addons/languages/hackerkeyboard/apk/src/main/play/listings/en-US/full-description.txt
  addons/languages/hackerkeyboard/apk/src/main/play/listings/en-US/short-description.txt
  addons/languages/hackerkeyboard/apk/src/main/play/listings/en-US/title.txt
  addons/languages/hackerkeyboard/apk/src/main/play/release-notes/en-US/alpha.txt
  addons/languages/hackerkeyboard/apk/src/main/res/mipmap-hdpi/ic_launcher.png
  addons/languages/hackerkeyboard/apk/src/main/res/mipmap-mdpi/ic_launcher.png
  addons/languages/hackerkeyboard/apk/src/main/res/mipmap-xhdpi/ic_launcher.png
  addons/languages/hackerkeyboard/apk/src/main/res/mipmap-xxhdpi/ic_launcher.png
  addons/languages/hackerkeyboard/apk/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  addons/languages/hackerkeyboard/apk/src/main/res/values/strings.xml
  addons/languages/hackerkeyboard/build.gradle
  addons/languages/hackerkeyboard/pack/build.gradle
  addons/languages/hackerkeyboard/pack/src/main/AndroidManifest.xml
  addons/languages/hackerkeyboard/pack/src/main/java/com/anysoftkeyboard/languagepack/hackerkeyboard/PackBroadcastReceiver.java
  addons/languages/hackerkeyboard/pack/src/main/res/drawable-hdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboard/pack/src/main/res/drawable-mdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboard/pack/src/main/res/drawable-xhdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboard/pack/src/main/res/drawable-xxhdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboard/pack/src/main/res/drawable-xxxhdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboard/pack/src/main/res/values/hacker_strings.xml
  addons/languages/hackerkeyboard/pack/src/main/res/xml/hacker_compact.xml
  addons/languages/hackerkeyboard/pack/src/main/res/xml/hacker_full.xml
  addons/languages/hackerkeyboard/pack/src/main/res/xml/hacker_keyboards.xml
  addons/languages/hackerkeyboard/pack/src/main/res/xml/hacker_qwerty.xml
  settings.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Add `ESC` as 'flag' for hacker keyboard layout pack
  addons/languages/hackerkeyboard/apk/flag/flag.svg
  addons/languages/hackerkeyboard/apk/src/main/play/listings/en-US/graphics/feature-graphic/pack_store_feature_graphics.png
  addons/languages/hackerkeyboard/apk/src/main/play/listings/en-US/graphics/icon/pack_store_icon.png
  addons/languages/hackerkeyboard/apk/src/main/res/mipmap-hdpi/ic_launcher.png
  addons/languages/hackerkeyboard/apk/src/main/res/mipmap-mdpi/ic_launcher.png
  addons/languages/hackerkeyboard/apk/src/main/res/mipmap-xhdpi/ic_launcher.png
  addons/languages/hackerkeyboard/apk/src/main/res/mipmap-xxhdpi/ic_launcher.png
  addons/languages/hackerkeyboard/apk/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  addons/languages/hackerkeyboard/pack/src/main/res/drawable-hdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboard/pack/src/main/res/drawable-mdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboard/pack/src/main/res/drawable-xhdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboard/pack/src/main/res/drawable-xxhdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboard/pack/src/main/res/drawable-xxxhdpi/ic_status_hackerkeyboard.png
Owners: @AnySoftKeyboard/add-on-maintainers

Fix popup hint overflow, shrink / key to fit into the keyboard
  addons/languages/hackerkeyboard/pack/src/main/res/xml/hacker_compact.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Push screenshot and contact details for play store
  addons/languages/hackerkeyboardlayout/apk/src/main/play/contact-email.txt
  addons/languages/hackerkeyboardlayout/apk/src/main/play/contact-website.txt
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Landscape.jpg
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Portrait.jpg
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/title.txt
Owners: @AnySoftKeyboard/add-on-maintainers

Make use of seperated files for name and description
  addons/languages/hackerkeyboardlayout/pack/src/main/res/values/hacker_strings.xml
  addons/languages/hackerkeyboardlayout/pack/src/main/res/values/hacker_strings_dont_translate.xml
  addons/languages/hackerkeyboardlayout/pack/src/main/res/xml/hacker_keyboard_layouts.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Rename pack directory name
  addons/languages/hackerkeyboardlayout/apk/build.gradle
  addons/languages/hackerkeyboardlayout/apk/flag/flag.svg
  addons/languages/hackerkeyboardlayout/apk/src/main/AndroidManifest.xml
  addons/languages/hackerkeyboardlayout/apk/src/main/play/contact-email.txt
  addons/languages/hackerkeyboardlayout/apk/src/main/play/contact-website.txt
  addons/languages/hackerkeyboardlayout/apk/src/main/play/default-language.txt
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/full-description.txt
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/graphics/feature-graphic/pack_store_feature_graphics.png
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/graphics/icon/pack_store_icon.png
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/short-description.txt
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/title.txt
  addons/languages/hackerkeyboardlayout/apk/src/main/play/release-notes/en-US/alpha.txt
  addons/languages/hackerkeyboardlayout/apk/src/main/res/mipmap-hdpi/ic_launcher.png
  addons/languages/hackerkeyboardlayout/apk/src/main/res/mipmap-mdpi/ic_launcher.png
  addons/languages/hackerkeyboardlayout/apk/src/main/res/mipmap-xhdpi/ic_launcher.png
  addons/languages/hackerkeyboardlayout/apk/src/main/res/mipmap-xxhdpi/ic_launcher.png
  addons/languages/hackerkeyboardlayout/apk/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  addons/languages/hackerkeyboardlayout/apk/src/main/res/values/strings.xml
  addons/languages/hackerkeyboardlayout/build.gradle
  addons/languages/hackerkeyboardlayout/pack/build.gradle
  addons/languages/hackerkeyboardlayout/pack/src/main/AndroidManifest.xml
  addons/languages/hackerkeyboardlayout/pack/src/main/java/com/anysoftkeyboard/languagepack/hackerkeyboardlayout/PackBroadcastReceiver.java
  addons/languages/hackerkeyboardlayout/pack/src/main/res/drawable-hdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboardlayout/pack/src/main/res/drawable-mdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboardlayout/pack/src/main/res/drawable-xhdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboardlayout/pack/src/main/res/drawable-xxhdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboardlayout/pack/src/main/res/drawable-xxxhdpi/ic_status_hackerkeyboard.png
  addons/languages/hackerkeyboardlayout/pack/src/main/res/values/hacker_strings.xml
  addons/languages/hackerkeyboardlayout/pack/src/main/res/xml/hacker_compact.xml
  addons/languages/hackerkeyboardlayout/pack/src/main/res/xml/hacker_full.xml
  addons/languages/hackerkeyboardlayout/pack/src/main/res/xml/hacker_keyboard_layouts.xml
  addons/languages/hackerkeyboardlayout/pack/src/main/res/xml/hacker_qwerty.xml
  settings.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Fixes backslash not working in compact layout
  addons/languages/hackerkeyboardlayout/pack/src/main/res/xml/hacker_compact.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Packs List Update
  addons/languages/PACKS.md
Owners: @AnySoftKeyboard/developers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Bumping Android Gradle Plugin to version 8.1.1 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Android Annotations Compat Library to version 1.7.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/base-rx/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/jnidictionaryv1/build.gradle
  ime/dictionaries/jnidictionaryv2/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation Safe Args to version 2.7.3 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.12.0 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.3 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.3 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.3 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Prefernce Storage library to version 1.2.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/base-test/build.gradle
  ime/pixel/build.gradle
  ime/prefs/build.gradle
Owners: @AnySoftKeyboard/maintainers
