Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Convert auto-approval to be a command-line app
  .github/actions/auto_approval/action.yml
  .github/workflows/auto_approve.yml
  js/auto_approval/BUILD.bazel
  js/auto_approval/approval.test.ts
  js/auto_approval/approval.ts
  js/auto_approval/index.ts
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Bumping Android Gradle Plugin to version 8.7.3 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.15.0 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
  ime/prefs/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping actions/cache to version 4.2.0.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping Navigation Safe Args to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping bazel-contrib/setup-bazel to version 0.9.1.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping crowdin/github-action to version 2.4.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping Fragment Support library to version 1.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Packs List Update
  addons/languages/PACKS.md
  addons/quicktexts/PACKS.md
  addons/themes/PACKS.md
Owners: @AnySoftKeyboard/developers

Fix JS deps update
  .github/workflows/third_party_update.yml
  package.json
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Adding missing unidic to contributors
  js/contributors/BUILD.bazel
Owners: @AnySoftKeyboard/maintainers

add missing generate action tocontributors tool
  .github/workflows/generate_contributors_list.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Packs List Update
  addons/languages/PACKS.md
  addons/quicktexts/PACKS.md
  addons/themes/PACKS.md
Owners: @AnySoftKeyboard/developers

Bumping Android Gradle Plugin to version 8.7.3 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.15.0 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
  ime/prefs/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation Safe Args to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping actions/cache to version 4.2.0.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/upload-artifact to version 4.5.0.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping crowdin/github-action to version 2.5.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping bazel-contrib/setup-bazel to version 0.9.1.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Formatter fixes
  .github/FUNDING.yml
  .github/actions/codecov/action.yml
  .github/actions/collect-reports/action.yml
  .github/actions/deploy-request/action.yml
  .github/actions/deploy/action.yml
  .github/actions/test-shard-run/action.yml
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
  .prettier.config.cjs
  .prettierignore
  .prettierrc
  .yamlfmt.yml
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  codecov.yml
  config/yamllint.yml
  crowdin.yml
  js/auto_approval/approval.ts
  js/auto_approval/index.ts
  js/checkers/index.ts
  js/ts.bzl
  js/update_aosp_dictionaries/aosp_mapping.yml
  js/update_aosp_dictionaries/lineage_mapping.yml
  pnpm-lock.yaml
  tools/BUILD.bazel
  tools/multitool.lock.json
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

google java format in Bazel
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bzlmod
  config/yamllint.yml
  tools/BUILD.bazel
Owners: @AnySoftKeyboard/maintainers

Add ktfmt to bazel
  WORKSPACE.bzlmod
  addons/base/apk/src/main/java/com/anysoftkeyboard/addon/apk/MainActivity.kt
  addons/base/apk/src/test/java/com/anysoftkeyboard/addon/apk/MainActivityBaseTest.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/SimpleVersionGeneratorPlugin.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/VersionData.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/VersionGenerator.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/VersionGeneratorFactory.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/VersionGeneratorPlugin.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/generators/EnvBuildVersionGenerator.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/generators/GitBuildVersionGenerator.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/generators/StaticVersionGenerator.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/SimpleVersionGeneratorPluginTest.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/VersionGeneratorFactoryTest.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/VersionGeneratorPluginTest.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/generators/EnvBuildVersionGeneratorTest.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/generators/GitGeneratorTest.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/generators/StaticGeneratorTest.kt
  tools/BUILD.bazel
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/infra

ktfmt with bazel
  gradle/spotless.gradle
Owners: @AnySoftKeyboard/infra

Adding github actions linter using bazel
  .github/actionlint.yaml
  .github/workflows/checks.yml
  tools/multitool.lock.json
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Add all formatter from bazel
  .github/actionlint.yaml
  .github/workflows/checks.yml
  scripts/ci/ci_check_yamls.sh
Owners: @AnySoftKeyboard/infra

A small comment on why we need pnpm test
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
