Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Automated Localization Update from crowdin
  ime/app/src/main/res/values-it/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Robolectric Update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Update README.md
  README.md
Owners: @AnySoftKeyboard/developers

Added the bds_modern layout; added number hints and popup characters
  addons/languages/bulgarian/pack/src/main/res/values/bulgarian_pack_strings_dont_translate.xml
  addons/languages/bulgarian/pack/src/main/res/xml/bds_modern.xml
  addons/languages/bulgarian/pack/src/main/res/xml/bulgarian_keyboards.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Error-Prone Update and auto-patches if possible
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/infra

Bumping JUnit Test Support library to version 1.1.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Refactor word-splitting into a new permutation-driven algorithm
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/SuggestImpl.java
  ime/app/src/test/java/com/anysoftkeyboard/dictionaries/SuggestTest.java
  ime/dictionaries/src/main/java/com/anysoftkeyboard/dictionaries/WordComposer.java
  ime/dictionaries/src/main/java/com/anysoftkeyboard/dictionaries/WordsSplitter.java
  ime/dictionaries/src/test/java/com/anysoftkeyboard/dictionaries/WordComposerTest.java
  ime/dictionaries/src/test/java/com/anysoftkeyboard/dictionaries/WordsSplitterTest.java
Owners: @AnySoftKeyboard/maintainers

Static Memory iterators for word-splitter
  ime/dictionaries/src/main/java/com/anysoftkeyboard/dictionaries/WordsSplitter.java
  ime/dictionaries/src/test/java/com/anysoftkeyboard/dictionaries/WordsSplitterTest.java
Owners: @AnySoftKeyboard/maintainers

Adding pref key for controlling split-word
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/Suggest.java
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/SuggestImpl.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
  ime/app/src/main/res/values/settings_defaults_dont_translate.xml
  ime/app/src/main/res/values/settings_keys_dont_translate.xml
  ime/app/src/main/res/values/strings.xml
  ime/app/src/main/res/xml/prefs_dictionaries.xml
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardDictionaryEnablingTest.java
  ime/app/src/test/java/com/anysoftkeyboard/TestableAnySoftKeyboard.java
  ime/app/src/test/java/com/anysoftkeyboard/dictionaries/SuggestTest.java
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-cs/strings.xml
  ime/app/src/main/res/values-en/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

fixed DavidBowieEasterEgg() dead link
  ime/app/src/main/java/com/anysoftkeyboard/saywhat/EasterEggs.java
Owners: @AnySoftKeyboard/maintainers

Automated Error-Prone Update and auto-patches if possible
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/infra

Allow enabling or disable Strict-Mode in developer tools
  ime/app/src/debug/java/com/anysoftkeyboard/debug/DebugAnyApplication.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/dev/DeveloperToolsFragment.java
  ime/app/src/main/res/layout/developer_tools.xml
  ime/app/src/main/res/values/settings_keys_dont_translate.xml
  ime/app/src/main/res/values/strings_dont_translate.xml
Owners: @AnySoftKeyboard/maintainers

Bumping App Compat library to version 1.6.0 from https://dl.google.com/dl/android/maven2.
  ime/addons/build.gradle
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-hu/strings.xml
  ime/app/src/main/res/values-pl/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping Android Gradle Plugin to version 7.4.0 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-lt/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Introducing meaningful gesture detection. Fixes #3615
  config/checkstyle/checkstyle.xml
  ime/app/src/main/java/com/anysoftkeyboard/gesturetyping/GestureTypingDetector.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardWithGestureTyping.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/MiniKeyboardActionListener.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/OnKeyboardActionListener.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/PointerTracker.java
  ime/app/src/main/java/com/anysoftkeyboard/quicktextkeys/ui/RecordHistoryKeyboardActionListener.java
  ime/app/src/test/java/com/anysoftkeyboard/TestInputConnection.java
  ime/app/src/test/java/com/anysoftkeyboard/TestableAnySoftKeyboard.java
  ime/app/src/test/java/com/anysoftkeyboard/gesturetyping/GestureTypingDetectorTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardGestureTypingTest.java
  ime/base-test/src/main/java/com/anysoftkeyboard/rx/TestRxSchedulers.java
Owners: @AnySoftKeyboard/maintainers

Introducing meaningful gesture detection. Fixes #3615
  config/checkstyle/checkstyle.xml
  ime/app/src/main/java/com/anysoftkeyboard/gesturetyping/GestureTypingDetector.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardWithGestureTyping.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/MiniKeyboardActionListener.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/OnKeyboardActionListener.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/PointerTracker.java
  ime/app/src/main/java/com/anysoftkeyboard/quicktextkeys/ui/RecordHistoryKeyboardActionListener.java
  ime/app/src/test/java/com/anysoftkeyboard/TestInputConnection.java
  ime/app/src/test/java/com/anysoftkeyboard/TestableAnySoftKeyboard.java
  ime/app/src/test/java/com/anysoftkeyboard/gesturetyping/GestureTypingDetectorTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardGestureTypingTest.java
  ime/base-test/src/main/java/com/anysoftkeyboard/rx/TestRxSchedulers.java
Owners: @AnySoftKeyboard/maintainers

Ignoring another update-selection-delay test
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestionsTest.java
Owners: @AnySoftKeyboard/maintainers

NPE when clipboard is updated before IM created the view
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardBase.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboard.java
Owners: @AnySoftKeyboard/maintainers

Bumping Material Design library to version 1.8.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

add ŷ to popup
  addons/languages/english/pack/src/main/res/xml/qwerty_with_symbols.xml
Owners: @AnySoftKeyboard/add-on-maintainers

add extra diacritics to popup options for w and y
  addons/languages/english/pack/src/main/res/xml/qwerty_with_symbols.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping Android Gradle Plugin to version 7.4.1 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Russian with symbols keyboard
  addons/languages/russian2/pack/src/main/res/values/strings.xml
  addons/languages/russian2/pack/src/main/res/xml/russian2_keyboards.xml
  addons/languages/russian2/pack/src/main/res/xml/russian_qwerty_symbols.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Correctly use finishInput flag
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBar.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardInlineSuggestions.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardWithQuickText.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBarTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardQuickTextTest.java
Owners: @AnySoftKeyboard/maintainers

Update pro-guard rules to keep the names of class, but shrink
  ime/app/proguard-android-optimize.txt
  ime/app/proguard-rules.txt
Owners: @AnySoftKeyboard/maintainers

Show pop-up of symbols layout with long-pressing mode-switch
  ime/app/src/debug/res/xml/test_ext_kbd_row_with_mode_change.xml
  ime/app/src/debug/res/xml/test_ext_kbd_row_with_symbols.xml
  ime/app/src/debug/res/xml/test_ext_kbd_row_without_symbols_or_mode_change.xml
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyPopupKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/ExternalAnyKeyboard.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/GenericRowKeyboardTest.java
Owners: @AnySoftKeyboard/maintainers

Add symbols to default Russian keyboard
  addons/languages/russian2/pack/src/main/res/values/strings.xml
  addons/languages/russian2/pack/src/main/res/xml/russian2_keyboards.xml
  addons/languages/russian2/pack/src/main/res/xml/russian_qwerty.xml
  addons/languages/russian2/pack/src/main/res/xml/russian_qwerty_symbols.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Extend long-press symbols layout. #3633
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyKeyboard.java
  ime/app/src/main/res/xml/ext_symbols.xml
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/GenericRowKeyboardTest.java
Owners: @AnySoftKeyboard/maintainers

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @AnySoftKeyboard/developers

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @AnySoftKeyboard/developers

Update README.md
  README.md
Owners: @AnySoftKeyboard/developers

Automated Google-Format Update
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Gradle Update
  gradle/wrapper/gradle-wrapper.properties
Owners: @AnySoftKeyboard/infra

Trying to fight off a index-out-of-range issue
  ime/dictionaries/src/main/java/com/anysoftkeyboard/dictionaries/WordComposer.java
  ime/dictionaries/src/test/java/com/anysoftkeyboard/dictionaries/WordComposerTest.java
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-ckb/strings.xml
  ime/app/src/main/res/values-zh-rCN/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bump gradle to v8
  .github/workflows/checks.yml
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/SimpleVersionGeneratorPlugin.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/VersionGeneratorPlugin.kt
  gradle/apk_module.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated Gradle Update
  gradle/wrapper/gradle-wrapper.properties
Owners: @AnySoftKeyboard/infra

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
