Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Bumping Navigation to version 2.8.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Test Support library to version 1.6.1 from https://dl.google.com/dl/android/maven2.
  api/build.gradle
  ime/base-test/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping JUnit Test Support library to version 1.2.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/releaseinfo/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping App Compat library to version 1.7.0 from https://dl.google.com/dl/android/maven2.
  addons/base/apk/build.gradle
  ime/addons/build.gradle
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/build.gradle
  ime/notification/build.gradle
  ime/permissions/build.gradle
  ime/releaseinfo/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Bumping Material Design library to version 1.12.0 from https://dl.google.com/dl/android/maven2.
  addons/base/apk/build.gradle
  ime/app/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.3 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Receiver fixes for API34
  ime/app/src/main/java/com/anysoftkeyboard/AnySoftKeyboard.java
  ime/prefs/build.gradle
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/DirectBootAwareSharedPreferences.java
  ime/remote/src/main/java/com/anysoftkeyboard/remote/RemoteInsertionImpl.java
Owners: @AnySoftKeyboard/maintainers

Bump min sdk since we can't publish anymore
  gradle/android_general.gradle
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

addons tests properties fix
  ime/app/src/testAllAddOns/resources/jacoco-agent.properties
  ime/app/src/testAllAddOns/resources/robolectric.properties
Owners: @AnySoftKeyboard/maintainers

New Robolectric
  gradle/root_all_projects_ext.gradle
  ime/prefs/build.gradle
  scripts/robolectric_jars_versions.txt
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Fix boot-aware receiver state
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/DirectBootAwareSharedPreferences.java
  ime/prefs/src/test/java/com/anysoftkeyboard/prefs/DirectBootAwareSharedPreferencesTest.java
  ime/remote/src/main/java/com/anysoftkeyboard/remote/RemoteInsertionImpl.java
Owners: @AnySoftKeyboard/maintainers

Testing with Robolectric up to API level 34
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardStartUpAllSdkTest.java
  ime/app/src/test/java/com/menny/android/anysoftkeyboard/AnyApplicationDeviceSpecificAllSdkTest.java
  ime/base-test/src/main/java/com/anysoftkeyboard/test/TestUtils.java
Owners: @AnySoftKeyboard/maintainers

ergol width fixes
  addons/languages/french/pack/src/main/res/xml/ergol.xml
Owners: @AnySoftKeyboard/add-on-maintainers

fix latest-api-level values
  config/checkstyle/checkstyle.xml
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardStartUpAllSdkTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardQuickTextTest.java
  ime/app/src/test/java/com/menny/android/anysoftkeyboard/AnyApplicationDeviceSpecificAllSdkTest.java
  ime/app/src/testAllAddOns/java/com/anysoftkeyboard/keyboards/ForceLocaleListTest.java
  ime/base-test/src/main/java/com/anysoftkeyboard/test/TestUtils.java
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Introduce AutoClose mechanism and batchEdit close
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardWithGestureTyping.java
  ime/base/src/main/java/com/anysoftkeyboard/base/utils/GenericAutoClose.java
  ime/base/src/test/java/com/anysoftkeyboard/base/utils/GenericAutoCloseTest.java
Owners: @AnySoftKeyboard/maintainers

Bumping stuff in JS and eslint
  .eslintignore
  .eslintrc
  eslint.config.mjs
  js/update_aosp_dictionaries/index.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Owners: @AnySoftKeyboard/maintainers

Adding noop to avoid try-warn
  ime/app/proguard-anysoftkeyboard.txt
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardWithGestureTyping.java
  ime/base/src/main/java/com/anysoftkeyboard/base/utils/GenericAutoClose.java
Owners: @AnySoftKeyboard/maintainers

Defensive check for dead IC. Fixes #4061
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardWithGestureTyping.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardGestureTypingTest.java
Owners: @AnySoftKeyboard/maintainers

Bumping Gradle to latest
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Update chache keys for new build system version
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Automated AOSP Dictionaries Update
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Continue third-party updates even if some fail
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  .github/actions/auto_approval/dist/index.js
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated robolectric 4.14.1 update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Automated gradle 8.11.1 update
  gradle/wrapper/gradle-wrapper.properties
Owners: @AnySoftKeyboard/infra

Error Prone bump
  build.gradle
  gradle/errorprone.gradle
  junit-sharding/src/main/java/net/evendanan/testgrouping/ShardingSuite.java
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

fix(french): Set correct android:keyWidth to the bottom row keys
  addons/languages/french/pack/src/main/res/xml/ergol.xml
Owners: @AnySoftKeyboard/add-on-maintainers

refactor(french): Use appropriate functional_key_codes for shift key in Ergo-l layout
  addons/languages/french/pack/src/main/res/xml/ergol.xml
Owners: @AnySoftKeyboard/add-on-maintainers

refactor(french): Use appropriate functional_key_codes for french layouts
  addons/languages/french/pack/src/main/res/xml/azerty.xml
  addons/languages/french/pack/src/main/res/xml/azerty_accents.xml
  addons/languages/french/pack/src/main/res/xml/azerty_with_hyphen.xml
  addons/languages/french/pack/src/main/res/xml/bepo.xml
  addons/languages/french/pack/src/main/res/xml/ca_fr_qwerty.xml
Owners: @AnySoftKeyboard/add-on-maintainers

doc(french): Update screenshots
  addons/languages/french/apk/src/main/play/listings/en-US/graphics/phone-screenshots/11344068529538599222.png
  addons/languages/french/apk/src/main/play/listings/en-US/graphics/phone-screenshots/15133867425928736452.png
  addons/languages/french/apk/src/main/play/listings/en-US/graphics/phone-screenshots/landscape_azerty.png
  addons/languages/french/apk/src/main/play/listings/en-US/graphics/phone-screenshots/portrait_azerty.png
  addons/languages/french/apk/src/main/play/listings/en-US/graphics/phone-screenshots/portrait_bepo.png
  addons/languages/french/apk/src/main/play/listings/en-US/graphics/phone-screenshots/portrait_ergo-l.png
Owners: @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/permissions/src/main/res/values-en-rUS/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/permissions/src/main/res/values-en-rUS/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Fix Settings.Secure.ENABLED_INPUT_METHODS not readable on SDK 34+
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/SetupSupport.java
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping docker images all around
  .devcontainer/Dockerfile
  .github/actions/codecov/action.yml
  .github/actions/collect-reports/action.yml
  .github/actions/deploy-request/action.yml
  .github/actions/deploy/action.yml
  .github/actions/test-shard-run/action.yml
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
