Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Bumping actions/upload-artifact to version 4.4.3.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping crowdin/github-action to version 2.2.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping peter-evans/create-pull-request to version 7.0.5.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Fix typed-word freq
  ime/dictionaries/jnidictionaryv2/src/main/jni/include/dictionary.h
  ime/dictionaries/jnidictionaryv2/src/main/jni/source/com_anysoftkeyboard_dictionaries_ResourceBinaryDictionary.cpp
  ime/dictionaries/jnidictionaryv2/src/main/jni/source/dictionary.cpp
Owners: @AnySoftKeyboard/maintainers

Update .github/workflows/checks.yml
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Update .github/workflows/generate_contributors_list.yml
  .github/workflows/generate_contributors_list.yml
Owners: @AnySoftKeyboard/infra

Update .github/workflows/third_party_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Update .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-ca-rES/strings.xml
  addons/base/apk/src/main/res/values-de-rDE/strings.xml
  addons/base/apk/src/main/res/values-nl-rNL/strings.xml
  addons/base/apk/src/main/res/values-pt-rPT/strings.xml
  addons/base/apk/src/main/res/values-sc-rIT/strings.xml
  addons/base/apk/src/main/res/values-tr-rTR/strings.xml
  ime/addons/src/main/res/values-nl-rNL/strings.xml
  ime/app/src/main/res/values-ca-rES/strings.xml
  ime/app/src/main/res/values-da-rDK/strings.xml
  ime/app/src/main/res/values-de-rDE/strings.xml
  ime/app/src/main/res/values-nl-rNL/strings.xml
  ime/app/src/main/res/values-pt-rPT/strings.xml
  ime/chewbacca/src/main/res/values-ca-rES/strings.xml
  ime/chewbacca/src/main/res/values-nl-rNL/strings.xml
  ime/permissions/src/main/res/values-ca-rES/strings.xml
  ime/permissions/src/main/res/values-nl-rNL/strings.xml
  ime/pixel/src/main/res/values-ca-rES/strings.xml
  ime/releaseinfo/src/main/res/values-ca-rES/strings.xml
  ime/releaseinfo/src/main/res/values-nl-rNL/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Dismiss keyboard when swiping beyond the bottom of the keyboard
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSwipeListener.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardView.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AskGestureEventsListener.java
  ime/app/src/main/res/values/dimens.xml
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardGesturesTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ViewTestUtils.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBaseTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewTest.java
Owners: @AnySoftKeyboard/maintainers

Code cleanup
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardView.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewTest.java
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-ca-rES/strings.xml
  addons/base/apk/src/main/res/values-de-rDE/strings.xml
  addons/base/apk/src/main/res/values-nl-rNL/strings.xml
  addons/base/apk/src/main/res/values-pt-rPT/strings.xml
  addons/base/apk/src/main/res/values-sc-rIT/strings.xml
  addons/base/apk/src/main/res/values-tr-rTR/strings.xml
  ime/addons/src/main/res/values-nl-rNL/strings.xml
  ime/app/src/main/res/values-ca-rES/strings.xml
  ime/app/src/main/res/values-da-rDK/strings.xml
  ime/app/src/main/res/values-de-rDE/strings.xml
  ime/app/src/main/res/values-nl-rNL/strings.xml
  ime/app/src/main/res/values-pt-rPT/strings.xml
  ime/chewbacca/src/main/res/values-ca-rES/strings.xml
  ime/chewbacca/src/main/res/values-nl-rNL/strings.xml
  ime/permissions/src/main/res/values-ca-rES/strings.xml
  ime/permissions/src/main/res/values-nl-rNL/strings.xml
  ime/pixel/src/main/res/values-ca-rES/strings.xml
  ime/releaseinfo/src/main/res/values-ca-rES/strings.xml
  ime/releaseinfo/src/main/res/values-nl-rNL/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

small revision in candidate-view code
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/CandidateView.java
Owners: @AnySoftKeyboard/maintainers

CandidateView should use different theme-overlay colors
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardNightMode.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardPowerSaving.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardThemeOverlay.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBase.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/CandidateView.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/KeyboardViewContainerView.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/KeyboardThemeSelectorFragment.java
  ime/overlay/src/main/java/com/anysoftkeyboard/overlay/OverlayData.java
  ime/overlay/src/main/java/com/anysoftkeyboard/overlay/OverlayDataImpl.java
  ime/overlay/src/main/java/com/anysoftkeyboard/overlay/OverlayDataNormalizer.java
  ime/overlay/src/main/java/com/anysoftkeyboard/overlay/OverlyDataCreatorForAndroid.java
  ime/overlay/src/main/java/com/anysoftkeyboard/overlay/ThemeOverlayCombiner.java
  ime/overlay/src/test/java/com/anysoftkeyboard/overlay/OverlayDataNormalizerTest.java
  ime/overlay/src/test/java/com/anysoftkeyboard/overlay/OverlayDataOverriderTest.java
  ime/overlay/src/test/java/com/anysoftkeyboard/overlay/OverlayDataTest.java
  ime/overlay/src/test/java/com/anysoftkeyboard/overlay/ThemeOverlayCombinerTest.java
Owners: @AnySoftKeyboard/maintainers

Bumping actions/cache to version 4.1.2.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/checkout to version 4.2.2.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Bumping actions/checkout to version 4.2.2.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/cache to version 4.1.2.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/setup-node to version 4.1.0.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping crowdin/github-action to version 2.3.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

feat(french): Add Ergo-L keyboard layout
  addons/languages/french/apk/src/main/play/listings/en-US/full-description.txt
  addons/languages/french/pack/src/main/res/values-fr/strings.xml
  addons/languages/french/pack/src/main/res/values/strings.xml
  addons/languages/french/pack/src/main/res/xml/ergol.xml
  addons/languages/french/pack/src/main/res/xml/french_keyboards.xml
Owners: @AnySoftKeyboard/add-on-maintainers

doc(french): Update French language pack release notes
  addons/languages/french/apk/src/main/play/release-notes/en-US/alpha.txt
Owners: @AnySoftKeyboard/add-on-maintainers

Update .github/workflows/checks.yml
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Update .github/workflows/generate_contributors_list.yml
  .github/workflows/generate_contributors_list.yml
Owners: @AnySoftKeyboard/infra

Update .github/workflows/third_party_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Update .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Automated build_tools 35.0.0 update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Add dictionary files
  addons/languages/nias/pack/dictionary/inputs/asb.txt
  addons/languages/nias/pack/dictionary/inputs/asf.txt
  addons/languages/nias/pack/dictionary/inputs/desa.txt
  addons/languages/nias/pack/dictionary/inputs/mado.txt
  addons/languages/nias/pack/dictionary/inputs/stories.txt
Owners: @sslaia, @AnySoftKeyboard/add-on-maintainers

Bumping Android Gradle Plugin to version 8.6.1 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.13.1 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation Safe Args to version 2.8.1 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Android Annotations Compat Library to version 1.8.2 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/base-rx/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/jnidictionaryv1/build.gradle
  ime/dictionaries/jnidictionaryv2/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
