Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Bumping Android Gradle Plugin to version 8.2.0 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Android Annotations Compat Library to version 1.7.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/base-rx/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/jnidictionaryv1/build.gradle
  ime/dictionaries/jnidictionaryv2/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation Safe Args to version 2.7.6 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.6 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.6 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.7.6 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Material Design library to version 1.11.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Changes due to code review.
  addons/languages/pilaga/apk/build.gradle
  addons/languages/pilaga/apk/release/output-metadata.json
  buildSrc/src/main/java/Parser.java
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/infra

Ask for post-notification perm in wizard
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/MainFragment.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/WizardPermissionsFragment.java
  ime/app/src/main/res/layout/keyboard_setup_wizard_page_permissions_layout.xml
  ime/app/src/main/res/values/strings.xml
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/setup/WizardPermissionsFragmentTest.java
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Adding changelog item for Android 14
  ime/app/src/main/play/release-notes/en-US/alpha.txt
  ime/releaseinfo/src/main/java/com/anysoftkeyboard/releaseinfo/VersionChangeLogs.java
Owners: @AnySoftKeyboard/maintainers

Removing disused STORAGE permissions
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/MainFragment.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/MainFragmentTest.java
  ime/permissions/src/main/java/com/anysoftkeyboard/permissions/PermissionRequestHelper.java
  ime/permissions/src/main/res/values/strings.xml
  ime/permissions/src/test/java/com/anysoftkeyboard/permissions/PermissionRequestHelperTest.java
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Allow skip notification permission in wizard
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/WizardPermissionsFragment.java
  ime/app/src/main/res/layout/keyboard_setup_wizard_page_permissions_layout.xml
  ime/app/src/main/res/values/strings.xml
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/setup/WizardPermissionsFragmentTest.java
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Fancy open-close quotes and missing new line on end of file added back.
  addons/languages/pilaga/pack/build.gradle
  buildSrc/src/main/java/Parser.java
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/infra

Fix activity-scenario test usage
  ime/pixel/src/test/java/net/evendanan/pixel/SlidePreferenceTest.java
Owners: @AnySoftKeyboard/maintainers

Ensure we do not exceed max-splits
  ime/dictionaries/src/main/java/com/anysoftkeyboard/dictionaries/WordsSplitter.java
  ime/dictionaries/src/test/java/com/anysoftkeyboard/dictionaries/WordsSplitterTest.java
Owners: @AnySoftKeyboard/maintainers

removed unused code on pilaga keyboard xml file
  addons/languages/pilaga/pack/src/main/res/xml/pilaga_keyboards.xml
Owners: @AnySoftKeyboard/add-on-maintainers

added a not publishing reason on pilaga build gradle file
  addons/languages/pilaga/apk/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Localization Update from crowdin
  ime/addons/src/main/res/values-pt/strings.xml
  ime/addons/src/main/res/values-ru/strings.xml
  ime/app/src/main/res/values-de/strings.xml
  ime/app/src/main/res/values-en/strings.xml
  ime/app/src/main/res/values-pl/strings.xml
  ime/app/src/main/res/values-pt/strings.xml
  ime/app/src/main/res/values-ru/strings.xml
  ime/chewbacca/src/main/res/values-pt/strings.xml
  ime/chewbacca/src/main/res/values-ru/strings.xml
  ime/pixel/src/main/res/values-pt/strings.xml
  ime/pixel/src/main/res/values-ru/strings.xml
  ime/releaseinfo/src/main/res/values-pt/strings.xml
  ime/releaseinfo/src/main/res/values-ru/strings.xml
  ime/remote/src/main/res/values-pt/strings.xml
  ime/remote/src/main/res/values-ru/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping Android Gradle Plugin to version 8.2.1 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/addons/src/main/res/values-cs/strings.xml
  ime/app/src/main/res/values-cs/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Fix for orientation layout height
  ime/addons/src/main/java/com/anysoftkeyboard/addons/AddOnImpl.java
  ime/addons/src/main/java/com/anysoftkeyboard/addons/AddOnsFactory.java
  ime/addons/src/test/java/com/anysoftkeyboard/addons/AddOnImplTest.java
  ime/addons/src/test/java/com/anysoftkeyboard/addons/AddOnsFactoryTest.java
  ime/app/src/main/java/com/anysoftkeyboard/AnySoftKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardBase.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBar.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardKeyboardSwitchedListener.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/KeyboardSwitcher.java
  ime/app/src/main/java/com/menny/android/anysoftkeyboard/AnyApplication.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBarTest.java
Owners: @AnySoftKeyboard/maintainers

Create ant.yml
  .github/workflows/ant.yml
Owners: @AnySoftKeyboard/infra

Bumping Android Gradle Plugin to version 8.2.2 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Removing hysteresis from Theme
  api/src/main/res/values/keyboard_theme_api.xml
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyPopupKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/Keyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/KeyboardCondenser.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBase.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/PointerTracker.java
  ime/app/src/main/res/values/dimens.xml
  ime/app/src/main/res/values/settings_defaults_dont_translate.xml
  ime/app/src/main/res/values/styles_base_keyboard_theme.xml
  ime/app/src/main/res/values/styles_yochees_keyboard_theme.xml
Owners: @AnySoftKeyboard/maintainers

A way to show clicks on the keyboard
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/KeyboardViewContainerView.java
Owners: @AnySoftKeyboard/maintainers

A couple of clipboard fixes and adjustments
  ime/app/src/main/java/com/anysoftkeyboard/devicespecific/Clipboard.java
  ime/app/src/main/java/com/anysoftkeyboard/devicespecific/ClipboardV11.java
  ime/app/src/main/java/com/anysoftkeyboard/devicespecific/ClipboardV28.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboard.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboardTest.java
Owners: @AnySoftKeyboard/maintainers

Extract inline-suggestions list view
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardInlineSuggestions.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardView.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/KeyboardViewContainerView.java
  ime/app/src/main/res/layout/inline_suggestions_list.xml
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardInlineSuggestionsTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/KeyboardViewContainerViewTest.java
  ime/pixel/src/debug/res/layout/settings_scroll_view_test_layout.xml
  ime/pixel/src/main/java/net/evendanan/pixel/MainChild.java
  ime/pixel/src/main/java/net/evendanan/pixel/ScrollViewAsMainChild.java
  ime/pixel/src/main/res/layout/scroll_view_internal.xml
  ime/pixel/src/test/java/net/evendanan/pixel/ScrollViewAsMainChildTest.java
Owners: @AnySoftKeyboard/maintainers

Remove maintained centerXY endXY fields
  ime/app/src/main/java/com/anysoftkeyboard/gesturetyping/GestureTypingDetector.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardPopText.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyPopupKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/Keyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/KeyboardCondenser.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/PopupListKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardView.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBase.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewWithMiniKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/CandidateView.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/DemoAnyKeyboardView.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/PointerTracker.java
  ime/app/src/main/java/com/anysoftkeyboard/quicktextkeys/ui/QuickKeysKeyboardPagerAdapter.java
  ime/app/src/main/java/com/anysoftkeyboard/quicktextkeys/ui/QuickTextKeysBrowseFragment.java
  ime/app/src/test/java/com/anysoftkeyboard/TestableAnySoftKeyboard.java
  ime/app/src/test/java/com/anysoftkeyboard/ViewTestUtils.java
  ime/app/src/test/java/com/anysoftkeyboard/gesturetyping/GestureTypingDetectorTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardGestureTypingTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewWithMiniKeyboardTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/preview/AboveKeyPositionCalculatorTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/preview/AboveKeyboardPositionCalculatorTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/preview/KeyPreviewsManagerTest.java
Owners: @AnySoftKeyboard/maintainers

A couple of clipboard fixes and adjustments
  ime/app/src/main/java/com/anysoftkeyboard/devicespecific/Clipboard.java
  ime/app/src/main/java/com/anysoftkeyboard/devicespecific/ClipboardV11.java
  ime/app/src/main/java/com/anysoftkeyboard/devicespecific/ClipboardV28.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboard.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboardTest.java
Owners: @AnySoftKeyboard/maintainers

Add test for item pick in clipboard manager
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardBase.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboard.java
  ime/app/src/test/java/com/anysoftkeyboard/TestInputConnection.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboardTest.java
Owners: @AnySoftKeyboard/maintainers

Use store item when OS clipboard is empty
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboard.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboardTest.java
Owners: @AnySoftKeyboard/maintainers

Extract inline-suggestions list view
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardInlineSuggestions.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardView.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/KeyboardViewContainerView.java
  ime/app/src/main/res/layout/inline_suggestions_list.xml
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardInlineSuggestionsTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/KeyboardViewContainerViewTest.java
  ime/pixel/src/debug/res/layout/settings_scroll_view_test_layout.xml
  ime/pixel/src/main/java/net/evendanan/pixel/MainChild.java
  ime/pixel/src/main/java/net/evendanan/pixel/ScrollViewAsMainChild.java
  ime/pixel/src/main/res/layout/scroll_view_internal.xml
  ime/pixel/src/test/java/net/evendanan/pixel/ScrollViewAsMainChildTest.java
Owners: @AnySoftKeyboard/maintainers

Support pinned items priority in suggestions
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardInlineSuggestions.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardInlineSuggestionsTest.java
  ime/pixel/src/main/java/net/evendanan/pixel/ScrollViewAsMainChild.java
Owners: @AnySoftKeyboard/maintainers

Fix tests according to new behavior
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBarTest.java
  ime/pixel/src/test/java/net/evendanan/pixel/ScrollViewAsMainChildTest.java
Owners: @AnySoftKeyboard/maintainers

Testing scroll-view scale functionality
  ime/pixel/src/main/java/net/evendanan/pixel/ScrollViewAsMainChild.java
  ime/pixel/src/test/java/net/evendanan/pixel/ScrollViewAsMainChildTest.java
Owners: @AnySoftKeyboard/maintainers

Automated robolectric 4.11.1 update
  gradle/root_all_projects_ext.gradle
  scripts/robolectric_jars_versions.txt
Owners: @AnySoftKeyboard/infra

Ignoring unsupported tests APIs
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardForceLocaleTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/MainFragmentTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/setup/WizardPagesAdapterTest.java
  ime/app/src/test/java/com/anysoftkeyboard/utils/LocaleToolsTest.java
Owners: @AnySoftKeyboard/maintainers

Remove maintained centerXY endXY fields
  ime/app/src/main/java/com/anysoftkeyboard/gesturetyping/GestureTypingDetector.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardPopText.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyPopupKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/Keyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/KeyboardCondenser.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/PopupListKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardView.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBase.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewWithMiniKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/CandidateView.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/DemoAnyKeyboardView.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/PointerTracker.java
  ime/app/src/main/java/com/anysoftkeyboard/quicktextkeys/ui/QuickKeysKeyboardPagerAdapter.java
  ime/app/src/main/java/com/anysoftkeyboard/quicktextkeys/ui/QuickTextKeysBrowseFragment.java
  ime/app/src/test/java/com/anysoftkeyboard/TestableAnySoftKeyboard.java
  ime/app/src/test/java/com/anysoftkeyboard/ViewTestUtils.java
  ime/app/src/test/java/com/anysoftkeyboard/gesturetyping/GestureTypingDetectorTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardGestureTypingTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewWithMiniKeyboardTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/preview/AboveKeyPositionCalculatorTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/preview/AboveKeyboardPositionCalculatorTest.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/views/preview/KeyPreviewsManagerTest.java
  ime/app/src/test/java/com/menny/android/anysoftkeyboard/ShadowDictionaryAddOnAndBuilder.java
  ime/app/src/testAllAddOns/java/com/anysoftkeyboard/keyboards/LoadedKeyboardsVerificationTest.java
Owners: @AnySoftKeyboard/maintainers

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
