Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

Fix debug keystore
  .github/actions/deploy/debug.keystore
Owners: @AnySoftKeyboard/infra

AI rules for tests
  .cursor/rules/anysoftkeyboard.mdc
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated error_prone 4.3.0 2.39.0 update
  build.gradle
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Ensure marker folder exists
  .github/actions/deploy/deploy.sh
Owners: @AnySoftKeyboard/infra

Fix unit-test to handle the default value
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardDictionaryEnablingTest.java
Owners: @AnySoftKeyboard/maintainers

Ensuring coverage ignore paths match
  codecov_android.yml
  codecov_bazel.yml
Owners: @AnySoftKeyboard/maintainers

formatting issues
  api/src/test/java/com/anysoftkeyboard/api/KeyCodesTest.java
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Fixing codecov reporting
  .github/workflows/checks.yml
  codecov_android.yml
  codecov_bazel.yml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Improved keyboard layout
  addons/languages/nias/apk/src/main/play/listings/en-US/full-description.txt
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/landscape-tablet.png
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/landscape-tablet1.png
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/landscape-tablet2.png
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/landscape.png
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/landscape1.png
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/landscape2.png
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/potrait-tablet.png
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/potrait-tablet1.png
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/potrait-tablet2.png
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/potrait.png
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/potrait1.png
  addons/languages/nias/apk/src/main/play/listings/en-US/graphics/phone-screenshots/potrait2.png
  addons/languages/nias/apk/src/main/play/release-notes/en-US/alpha.txt
  addons/languages/nias/pack/src/main/res/values/nias_pack_strings.xml
  addons/languages/nias/pack/src/main/res/xml/nias_autotext.xml
  addons/languages/nias/pack/src/main/res/xml/nias_keyboards.xml
  addons/languages/nias/pack/src/main/res/xml/nias_qwerty.xml
  addons/languages/nias/pack/src/main/res/xml/nias_wiki.xml
Owners: @sslaia, @AnySoftKeyboard/add-on-maintainers

Fixed keyboard description
  addons/languages/nias/pack/src/main/res/values/nias_pack_strings.xml
Owners: @sslaia, @AnySoftKeyboard/add-on-maintainers

Halting deploy to addOnsProduction_production_100
  deployment/halt_deployment_marker
Owners: @AnySoftKeyboard/maintainers

Fixed with the release notes (character limit) etc.
  addons/languages/nias/apk/src/main/play/release-notes/en-US/alpha.txt
  addons/languages/nias/pack/src/main/res/xml/nias_autotext.xml
  addons/languages/nias/pack/src/main/res/xml/nias_keyboards.xml
Owners: @sslaia, @AnySoftKeyboard/add-on-maintainers

chore: make cyrillic keyboard reflect slavic etymology and common typing standards
  addons/languages/russian2/pack/src/main/res/xml/cyrillic_qwerty.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Android Deps update from maven
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated gradle 8.14.3 update
  gradle/wrapper/gradle-wrapper.properties
Owners: @AnySoftKeyboard/infra

Automated spotless 7.1.0 1.28.0 update
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated error_prone 4.3.0 2.40.0 update
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Android Deps update from maven
  build.gradle
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Halting deploy to imeProduction_production_100
  deployment/halt_deployment_marker
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-eu-rES/strings.xml
  addons/base/apk/src/main/res/values-fr-rFR/strings.xml
  ime/addons/src/main/res/values-eu-rES/strings.xml
  ime/app/src/main/res/values-eu-rES/strings.xml
  ime/app/src/main/res/values-fr-rFR/strings.xml
  ime/chewbacca/src/main/res/values-eu-rES/strings.xml
  ime/permissions/src/main/res/values-es-rAR/strings.xml
  ime/permissions/src/main/res/values-eu-rES/strings.xml
  ime/permissions/src/main/res/values-fr-rFR/strings.xml
  ime/pixel/src/main/res/values-eu-rES/strings.xml
  ime/releaseinfo/src/main/res/values-eu-rES/strings.xml
  ime/remote/src/main/res/values-eu-rES/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated spotless 7.2.1 1.28.0 update
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated error_prone 4.3.0 2.41.0 update
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-en-rPT/strings.xml
  addons/base/apk/src/main/res/values-eu-rES/strings.xml
  addons/base/apk/src/main/res/values-fr-rFR/strings.xml
  ime/addons/src/main/res/values-en-rPT/strings.xml
  ime/addons/src/main/res/values-eu-rES/strings.xml
  ime/app/src/main/res/values-en-rPT/strings.xml
  ime/app/src/main/res/values-eu-rES/strings.xml
  ime/app/src/main/res/values-fr-rFR/strings.xml
  ime/app/src/main/res/values/force_locale_array_generated.xml
  ime/chewbacca/src/main/res/values-en-rPT/strings.xml
  ime/chewbacca/src/main/res/values-eu-rES/strings.xml
  ime/permissions/src/main/res/values-en-rPT/strings.xml
  ime/permissions/src/main/res/values-es-rAR/strings.xml
  ime/permissions/src/main/res/values-eu-rES/strings.xml
  ime/permissions/src/main/res/values-fr-rFR/strings.xml
  ime/pixel/src/main/res/values-en-rPT/strings.xml
  ime/pixel/src/main/res/values-eu-rES/strings.xml
  ime/releaseinfo/src/main/res/values-en-rPT/strings.xml
  ime/releaseinfo/src/main/res/values-eu-rES/strings.xml
  ime/remote/src/main/res/values-en-rPT/strings.xml
  ime/remote/src/main/res/values-eu-rES/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

upload APK artifacts
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Update checks.yml
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Packs List Update
  addons/languages/PACKS.md
  addons/themes/PACKS.md
Owners: @AnySoftKeyboard/developers

Automated Android Deps update from maven
  api/build.gradle
  build.gradle
  ime/app/build.gradle
  ime/base-test/build.gradle
  ime/releaseinfo/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-eu-rES/strings.xml
  addons/base/apk/src/main/res/values-fr-rFR/strings.xml
  ime/addons/src/main/res/values-eu-rES/strings.xml
  ime/app/src/main/res/values-eu-rES/strings.xml
  ime/app/src/main/res/values-fr-rFR/strings.xml
  ime/app/src/main/res/values-it-rIT/strings.xml
  ime/app/src/main/res/values/force_locale_array_generated.xml
  ime/chewbacca/src/main/res/values-eu-rES/strings.xml
  ime/permissions/src/main/res/values-es-rAR/strings.xml
  ime/permissions/src/main/res/values-eu-rES/strings.xml
  ime/permissions/src/main/res/values-fr-rFR/strings.xml
  ime/pixel/src/main/res/values-eu-rES/strings.xml
  ime/releaseinfo/src/main/res/values-eu-rES/strings.xml
  ime/remote/src/main/res/values-eu-rES/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

[Gemini-cli] Feature: Implement PreferencesUpdateService
  ime/app/src/main/java/com/menny/android/anysoftkeyboard/AnyApplication.java
  ime/preferences-service/build.gradle
  ime/preferences-service/src/androidTest/java/com/anysoftkeyboard/service/PreferencesUpdateServiceTest.java
  ime/preferences-service/src/main/AndroidManifest.xml
  ime/preferences-service/src/main/java/com/anysoftkeyboard/service/PreferencesUpdateService.java
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/PrefValueType.java
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/RxSharedPrefsProvider.java
  settings.gradle
Owners: @AnySoftKeyboard/maintainers

[Gemini-cli] Feat: Add BroadcastReceiver for background preference updates
  ime/preferences-service/build.gradle
  ime/preferences-service/src/androidTest/java/com/anysoftkeyboard/service/PreferencesUpdateServiceTest.java
  ime/preferences-service/src/main/AndroidManifest.xml
  ime/preferences-service/src/main/java/com/anysoftkeyboard/service/PreferencesUpdateService.java
  ime/prefs/src/main/AndroidManifest.xml
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/PrefType.java
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/RxSharedPrefsProvider.java
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/SharedPreferencesChangeReceiver.java
  ime/prefs/src/test/java/com/anysoftkeyboard/prefs/SharedPreferencesChangeReceiverTest.java
  settings.gradle
Owners: @AnySoftKeyboard/maintainers

Allow disable contacts from notification
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/content/ContactsDictionary.java
  ime/app/src/main/java/com/menny/android/anysoftkeyboard/AnyApplication.java
  ime/app/src/main/res/drawable/ic_notification_action_approve_permission.xml
  ime/app/src/main/res/drawable/ic_notification_action_dismiss_permission.xml
  ime/app/src/main/res/values/strings.xml
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Using MainSettingsActivity to disable contacts from notification
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/content/ContactsDictionary.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/MainSettingsActivity.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/MainSettingsActivityTest.java
  ime/notification/src/main/java/com/anysoftkeyboard/notification/NotificationDriver.java
  ime/notification/src/main/java/com/anysoftkeyboard/notification/NotificationDriverImpl.java
  ime/notification/src/test/java/com/anysoftkeyboard/notification/NotificationDriverImplTest.java
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/SharedPreferencesChangeReceiver.java
Owners: @AnySoftKeyboard/maintainers
