Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated gradle 8.12 update
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated build_tools 35.0.1 update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Automated spotless 7.0.2 1.25.2 update
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-is-rIS/strings.xml
  ime/addons/src/main/res/values-is-rIS/strings.xml
  ime/app/src/main/res/values-is-rIS/strings.xml
  ime/app/src/main/res/values-ka-rGE/strings.xml
  ime/chewbacca/src/main/res/values-is-rIS/strings.xml
  ime/permissions/src/main/res/values-is-rIS/strings.xml
  ime/pixel/src/main/res/values-is-rIS/strings.xml
  ime/releaseinfo/src/main/res/values-is-rIS/strings.xml
  ime/remote/src/main/res/values-is-rIS/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated gradle 8.12.1 update
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Bumping actions/cache to version 4.2.0.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/setup-node to version 4.2.0.
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/upload-artifact to version 4.6.0.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping bazel-contrib/setup-bazel to version 0.13.0.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping crowdin/github-action to version 2.5.2.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping peter-evans/create-pull-request to version 7.0.6.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping Android Gradle Plugin to version 8.8.0 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.15.0 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
  ime/prefs/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation Safe Args to version 2.8.6 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.6 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.6 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.6 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping RecyclerView library to version 1.4.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/releaseinfo/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

fix java version in document CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @AnySoftKeyboard/developers

fix java version in document CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @AnySoftKeyboard/developers

fix java version in document CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @AnySoftKeyboard/developers

bump some stuff
  .nvmrc
  MODULE.bazel
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

bump GH actions
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-be-rBY/strings.xml
  addons/base/apk/src/main/res/values-cs-rCZ/strings.xml
  addons/base/apk/src/main/res/values-es-rMX/strings.xml
  addons/base/apk/src/main/res/values-is-rIS/strings.xml
  ime/addons/src/main/res/values-be-rBY/strings.xml
  ime/addons/src/main/res/values-cs-rCZ/strings.xml
  ime/addons/src/main/res/values-es-rMX/strings.xml
  ime/addons/src/main/res/values-is-rIS/strings.xml
  ime/app/src/main/res/values-be-rBY/strings.xml
  ime/app/src/main/res/values-cs-rCZ/strings.xml
  ime/app/src/main/res/values-es-rMX/strings.xml
  ime/app/src/main/res/values-is-rIS/strings.xml
  ime/app/src/main/res/values-ka-rGE/strings.xml
  ime/chewbacca/src/main/res/values-be-rBY/strings.xml
  ime/chewbacca/src/main/res/values-cs-rCZ/strings.xml
  ime/chewbacca/src/main/res/values-es-rMX/strings.xml
  ime/chewbacca/src/main/res/values-is-rIS/strings.xml
  ime/permissions/src/main/res/values-be-rBY/strings.xml
  ime/permissions/src/main/res/values-cs-rCZ/strings.xml
  ime/permissions/src/main/res/values-es-rMX/strings.xml
  ime/permissions/src/main/res/values-is-rIS/strings.xml
  ime/pixel/src/main/res/values-be-rBY/strings.xml
  ime/pixel/src/main/res/values-cs-rCZ/strings.xml
  ime/pixel/src/main/res/values-es-rMX/strings.xml
  ime/pixel/src/main/res/values-is-rIS/strings.xml
  ime/releaseinfo/src/main/res/values-be-rBY/strings.xml
  ime/releaseinfo/src/main/res/values-cs-rCZ/strings.xml
  ime/releaseinfo/src/main/res/values-es-rMX/strings.xml
  ime/releaseinfo/src/main/res/values-is-rIS/strings.xml
  ime/remote/src/main/res/values-be-rBY/strings.xml
  ime/remote/src/main/res/values-cs-rCZ/strings.xml
  ime/remote/src/main/res/values-es-rMX/strings.xml
  ime/remote/src/main/res/values-is-rIS/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Ensure generated MD files are in correct style
  addons/gradle/add_on_list_generator.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

No need for this bazel run format
  .github/workflows/packs_md_update.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated build_tools 36.0.0 update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Automated gradle 8.13 update
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated spotless 7.0.3 1.26.0 update
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated error_prone 4.1.0 2.37.0 update
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-lv-rLV/strings.xml
  ime/addons/src/main/res/values-lv-rLV/strings.xml
  ime/app/src/main/res/values-lv-rLV/strings.xml
  ime/app/src/main/res/values/force_locale_array_generated.xml
  ime/chewbacca/src/main/res/values-lv-rLV/strings.xml
  ime/permissions/src/main/res/values-lv-rLV/strings.xml
  ime/pixel/src/main/res/values-lv-rLV/strings.xml
  ime/releaseinfo/src/main/res/values-lv-rLV/strings.xml
  ime/remote/src/main/res/values-lv-rLV/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers
