Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Automated error_prone 4.2.0 2.37.0 update
  build.gradle
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  ime/addons/src/main/res/values-lv-rLV/strings.xml
  ime/app/src/main/res/values-lv-rLV/strings.xml
  ime/chewbacca/src/main/res/values-lv-rLV/strings.xml
  ime/pixel/src/main/res/values-lv-rLV/strings.xml
  ime/remote/src/main/res/values-lv-rLV/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping Android Gradle Plugin to version 8.9.1 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping actions/setup-node to version 3.9.1.
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/upload-artifact to version 4.6.2.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping AndroidX core library to version 1.16.0 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
  ime/prefs/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping crowdin/github-action to version 2.7.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping bazel-contrib/setup-bazel to version 0.14.0.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping Navigation Safe Args to version 2.8.9 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping peter-evans/create-pull-request to version 7.0.8.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 4.1.0.
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping Navigation to version 2.8.9 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.9 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.9 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.6 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping RecyclerView library to version 1.4.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/releaseinfo/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated error_prone 4.2.0 2.38.0 update
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Bazel-setup GH action bump
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Fix dictionaries update
  .github/workflows/update_aosp_dictionaries.yml
  js/update_aosp_dictionaries/BUILD.bazel
  js/update_aosp_dictionaries/differ.ts
  js/update_aosp_dictionaries/index.ts
  js/update_aosp_dictionaries/lineage_mapping.yml
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Fix crash-report subtitle and header
  ime/app/src/main/java/com/anysoftkeyboard/ui/SendBugReportUiActivity.java
  ime/app/src/main/res/layout/send_crash_log_ui.xml
Owners: @AnySoftKeyboard/maintainers

Bumping Android Gradle Plugin to version 8.9.2 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.16.0 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
  ime/prefs/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation Safe Args to version 2.8.9 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.9 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.9 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.9 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.6 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping RecyclerView library to version 1.4.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/releaseinfo/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bump target and compile API levels
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Various lint issues fixes
  addons/base/apk/src/main/java/com/anysoftkeyboard/addon/apk/MainActivity.kt
  build.gradle
  buildSrc/build.gradle
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/MainSettingsActivity.java
  ime/base/src/main/java/com/anysoftkeyboard/base/utils/CompatUtils.java
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Fix edge-to-edge issue in API35
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/MainSettingsActivity.java
  ime/pixel/src/main/res/values-v35/app_styles.xml
  ime/pixel/src/main/res/values/app_styles.xml
Owners: @AnySoftKeyboard/maintainers

Ensure all-green only if all is success
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Temporarily "fix" for error build
  gradle/errorprone.gradle
Owners: @AnySoftKeyboard/infra

Use java 21
  .bazelrc
  buildSrc/build.gradle
  gradle/android_general.gradle
  junit-sharding/build.gradle
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Ensure all checks pass with success
  .github/workflows/checks.yml
  js/check_all_green/BUILD.bazel
  js/check_all_green/geen_checker.test.ts
  js/check_all_green/green_checker.ts
  js/check_all_green/index.ts
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
