Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

[LLM] feat: Migrate JNI dictionaries to CMake
  ime/dictionaries/jnidictionaryv1/Android.mk
  ime/dictionaries/jnidictionaryv1/CMakeLists.txt
  ime/dictionaries/jnidictionaryv1/build.gradle
  ime/dictionaries/jnidictionaryv2/Android.mk
  ime/dictionaries/jnidictionaryv2/CMakeLists.txt
  ime/dictionaries/jnidictionaryv2/build.gradle
Owners: @AnySoftKeyboard/maintainers

Update additionals.xml
  addons/languages/english/pack/dictionary/prebuilt/additionals.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Delete .devcontainer directory
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @AnySoftKeyboard/maintainers

Delete junit-sharding directory
  junit-sharding/build.gradle
  junit-sharding/src/main/java/net/evendanan/testgrouping/AnnotationHashingStrategy.java
  junit-sharding/src/main/java/net/evendanan/testgrouping/HashingStrategy.java
  junit-sharding/src/main/java/net/evendanan/testgrouping/ShardingSuite.java
  junit-sharding/src/main/java/net/evendanan/testgrouping/SimpleHashingStrategyBase.java
  junit-sharding/src/main/java/net/evendanan/testgrouping/TestClassHashingStrategy.java
  junit-sharding/src/main/java/net/evendanan/testgrouping/TestsGroupingFilter.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/AnnotationHashingStrategyTest.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/ShardingSuiteTest.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/TestClassHashingStrategyTest.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/TestsGroupingFilterTest.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/TestsSuite.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/inputs/NoneAbstractTestClassWithTestMethod.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/inputs/NonePackageTestClassWithTestMethod.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/inputs/NoneTestClassWithSuiteAnnotation.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/inputs/NoneTestClassWithoutAnyAnnotations.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/inputs/SuiteToTest.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/inputs/SuiteToTestWithoutShardUsing.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/inputs/TestClassWithRunnerAnnotation.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/inputs/TestClassWithTestMethod.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/inputs/TestClassWithTestMethodToSkip.java
  junit-sharding/src/test/java/net/evendanan/testgrouping/inputs/TestableHashingStrategy.java
Owners: @AnySoftKeyboard/maintainers

Delete tools directory
  tools/BUILD.bazel
  tools/linters.bzl
  tools/multitool.lock.json
  tools/repo_patches/BUILD.bazel
  tools/repo_patches/rules_nodejs_pr_3802.patch
Owners: @AnySoftKeyboard/maintainers

Delete StoreStuff directory
  StoreStuff/ask_logo.xcf
  StoreStuff/feature_graphics.pxd
  StoreStuff/ic_launcher-web-canary.png
  StoreStuff/ic_launcher-web-debug.png
  StoreStuff/ic_launcher-web.png
Owners: @AnySoftKeyboard/maintainers

Delete buildSrc directory
  buildSrc/build.gradle
  buildSrc/src/main/groovy/localproperties/LocalPropertiesFile.groovy
  buildSrc/src/main/groovy/utils/Utils.groovy
  buildSrc/src/main/java/BinaryDictionaryResourceNormalizer.java
  buildSrc/src/main/java/BuildLogger.java
  buildSrc/src/main/java/GeneratePackActivitySources.java
  buildSrc/src/main/java/GenerateWordsListFromAOSPTask.java
  buildSrc/src/main/java/GenerateWordsListTask.java
  buildSrc/src/main/java/MainClass.java
  buildSrc/src/main/java/MakeBinaryDictionary.java
  buildSrc/src/main/java/MakeDictionaryPlugin.java
  buildSrc/src/main/java/MakeDictionaryTask.java
  buildSrc/src/main/java/MergeWordsListTask.java
  buildSrc/src/main/java/Parser.java
  buildSrc/src/main/java/WordListWriter.java
  buildSrc/src/main/java/WordWithCount.java
  buildSrc/src/main/java/XmlWriter.java
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/GenerationData.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/SimpleVersionGeneratorPlugin.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/VersionData.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/VersionGenerator.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/VersionGeneratorFactory.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/VersionGeneratorPlugin.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/generators/EnvBuildVersionGenerator.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/generators/GitBuildVersionGenerator.kt
  buildSrc/src/main/kotlin/net/evendanan/versiongenerator/generators/StaticVersionGenerator.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/SimpleVersionGeneratorPluginTest.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/VersionGeneratorFactoryTest.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/VersionGeneratorPluginTest.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/generators/EnvBuildVersionGeneratorTest.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/generators/GitGeneratorTest.kt
  buildSrc/src/test/kotlin/net/evendanan/versiongenerator/generators/StaticGeneratorTest.kt
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Delete api directory
  api/build.gradle
  api/src/main/AndroidManifest.xml
  api/src/main/java/com/anysoftkeyboard/api/KeyCodes.java
  api/src/main/java/com/anysoftkeyboard/api/MediaInsertion.java
  api/src/main/res/values/attrs.xml
  api/src/main/res/values/extension_keyboard_types.xml
  api/src/main/res/values/functional_key_codes.xml
  api/src/main/res/values/gesture_theme_api.xml
  api/src/main/res/values/key_heights.xml
  api/src/main/res/values/keyboard_layout_api.xml
  api/src/main/res/values/keyboard_modes.xml
  api/src/main/res/values/keyboard_theme_api.xml
  api/src/main/res/values/strings.xml
  api/src/main/res/values/version.xml
  api/src/test/java/com/anysoftkeyboard/api/KeyCodesTest.java
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Delete config directory
  config/checkstyle/checkstyle.xml
  config/checkstyle/suppressions.xml
  config/lint.xml
Owners: @AnySoftKeyboard/maintainers

Delete gradle directory
  gradle/android_general.gradle
  gradle/android_unit_test.gradle
  gradle/apk_module.gradle
  gradle/checkstyle.gradle
  gradle/errorprone.gradle
  gradle/fdroid_yaml_output.gradle
  gradle/jacoco.gradle
  gradle/root_all_projects_ext.gradle
  gradle/spotless.gradle
  gradle/versioning_apk.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Owners: @AnySoftKeyboard/infra

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
