Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Bumping Test Support library to version 1.6.1 from https://dl.google.com/dl/android/maven2.
  api/build.gradle
  ime/base-test/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping JUnit Test Support library to version 1.2.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/releaseinfo/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping App Compat library to version 1.7.0 from https://dl.google.com/dl/android/maven2.
  addons/base/apk/build.gradle
  ime/addons/build.gradle
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/build.gradle
  ime/notification/build.gradle
  ime/permissions/build.gradle
  ime/releaseinfo/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.2 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Material Design library to version 1.12.0 from https://dl.google.com/dl/android/maven2.
  addons/base/apk/build.gradle
  ime/app/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

added Polytonic Greek Keyboard
  addons/languages/greek/pack/src/main/res/values/greek_strings.xml
  addons/languages/greek/pack/src/main/res/xml/greek_keyboards.xml
  addons/languages/greek/pack/src/main/res/xml/greek_qwerty.xml
  addons/languages/greek/pack/src/main/res/xml/greek_qwerty_polytonic.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Adding another bot to the contributors list
  js/contributors/contributors.ts
Owners: @AnySoftKeyboard/maintainers

fixed spelling error
  addons/languages/greek/pack/src/main/res/values/greek_strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

revert changes to greek-qwerty
  addons/languages/greek/pack/src/main/res/xml/greek_qwerty.xml
Owners: @AnySoftKeyboard/add-on-maintainers

improved diactitic key locations
  addons/languages/greek/pack/src/main/res/xml/greek_qwerty_polytonic.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Give complete/terminal+typed words very high frequency
  ime/dictionaries/jnidictionaryv2/src/main/jni/source/dictionary.cpp
Owners: @AnySoftKeyboard/maintainers

A few new words
  addons/languages/english/pack/dictionary/prebuilt/additionals.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Bumping Android Gradle Plugin to version 8.6.1 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Android Annotations Compat Library to version 1.8.2 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/base-rx/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/jnidictionaryv1/build.gradle
  ime/dictionaries/jnidictionaryv2/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping AndroidX core library to version 1.13.1 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation Safe Args to version 2.8.1 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Test Support library to version 1.6.1 from https://dl.google.com/dl/android/maven2.
  api/build.gradle
  ime/base-test/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping JUnit Test Support library to version 1.2.1 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/releaseinfo/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping App Compat library to version 1.7.0 from https://dl.google.com/dl/android/maven2.
  addons/base/apk/build.gradle
  ime/addons/build.gradle
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/build.gradle
  ime/notification/build.gradle
  ime/permissions/build.gradle
  ime/releaseinfo/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.3 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Material Design library to version 1.12.0 from https://dl.google.com/dl/android/maven2.
  addons/base/apk/build.gradle
  ime/app/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-ca-rES/strings.xml
  addons/base/apk/src/main/res/values-de-rDE/strings.xml
  addons/base/apk/src/main/res/values-nl-rNL/strings.xml
  addons/base/apk/src/main/res/values-pt-rPT/strings.xml
  addons/base/apk/src/main/res/values-sc-rIT/strings.xml
  addons/base/apk/src/main/res/values-tr-rTR/strings.xml
  ime/addons/src/main/res/values-nl-rNL/strings.xml
  ime/app/src/main/res/values-ca-rES/strings.xml
  ime/app/src/main/res/values-da-rDK/strings.xml
  ime/app/src/main/res/values-de-rDE/strings.xml
  ime/app/src/main/res/values-nl-rNL/strings.xml
  ime/app/src/main/res/values-pt-rPT/strings.xml
  ime/chewbacca/src/main/res/values-ca-rES/strings.xml
  ime/chewbacca/src/main/res/values-nl-rNL/strings.xml
  ime/permissions/src/main/res/values-ca-rES/strings.xml
  ime/permissions/src/main/res/values-nl-rNL/strings.xml
  ime/pixel/src/main/res/values-ca-rES/strings.xml
  ime/releaseinfo/src/main/res/values-ca-rES/strings.xml
  ime/releaseinfo/src/main/res/values-nl-rNL/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping actions/checkout to version 4.2.1.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/cache to version 4.1.1.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/setup-node to version 4.0.4.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping crowdin/github-action to version 2.2.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/upload-artifact to version 4.4.3.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping peter-evans/create-pull-request to version 7.0.5.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

A workaround to allow building on an aarch64 machine
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Bumping actions/cache to version 4.1.1.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/checkout to version 4.2.1.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/setup-node to version 4.0.4.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
