Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Fixed bugs related to space before / after words, fixed unit tests, added logs to be removed after tests are OK
  gradle/wrapper/gradle-wrapper.properties
  ime/app/src/main/java/com/anysoftkeyboard/AnySoftKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardDictionaryGetWordsTest.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardShiftStateFromInputTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestionsTest.java
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Bumping Test Support library to version 1.5.0 from https://dl.google.com/dl/android/maven2.
  api/build.gradle
  ime/base-test/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping JUnit Test Support library to version 1.1.4 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-be/strings.xml
  ime/app/src/main/res/values-ckb/strings.xml
  ime/app/src/main/res/values-kmr/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Reverted gradle file + Fixed unit tests.
  gradle/wrapper/gradle-wrapper.properties
  ime/app/src/main/java/com/anysoftkeyboard/AnySoftKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardDictionaryEnablingTest.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardShiftStateFromInputTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestionsTest.java
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Allow shit to reach colon in colemak, as well as the double-tap
  addons/languages/english/pack/src/main/res/xml/colemak.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Not clearing last-space-time when functional key is pressed.
  api/src/main/java/com/anysoftkeyboard/api/KeyCodes.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardGimmicksTest.java
  scripts/image_layering.py
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Typo
  api/src/main/java/com/anysoftkeyboard/api/KeyCodes.java
  ime/app/src/main/java/com/anysoftkeyboard/AnySoftKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/LayoutSwitchAnimationListener.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardPressEffects.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSwipeListener.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBase.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardGesturesTest.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardGimmicksTest.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardKeyboardPersistentLayoutTest.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardPopTextTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardGestureTypingTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardKeyboardSwitcherTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardKeyboardSwitchingTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardPressEffectsTest.java
Owners: @AnySoftKeyboard/maintainers

Adding delete to output keys
  api/src/main/java/com/anysoftkeyboard/api/KeyCodes.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardPopText.java
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
Owners: @AnySoftKeyboard/maintainers

a new versioning scheme. New minor with every release
  ime/app/src/main/java/com/anysoftkeyboard/ui/tutorials/VersionChangeLogs.java
  ime/app/src/test/java/com/anysoftkeyboard/TestableAnySoftKeyboard.java
  ime/build.gradle
Owners: @AnySoftKeyboard/maintainers

Ensure we only update position if inside word
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestions.java
  ime/app/src/test/java/com/anysoftkeyboard/TestInputConnection.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardSuggestionsTest.java
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-de/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Amend local-proxy unit-test
  ime/fileprovider/src/main/java/com/anysoftkeyboard/fileprovider/LocalProxy.java
  ime/fileprovider/src/test/java/com/anysoftkeyboard/fileprovider/LocalProxyTest.java
Owners: @AnySoftKeyboard/maintainers

Fix MIME type for media insertion
  ime/fileprovider/src/main/java/com/anysoftkeyboard/fileprovider/LocalProxy.java
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Build-Tools Update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Automated Gradle Update
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Added missing characters
  addons/languages/hindi/pack/src/main/res/xml/hindi_inscript.xml
Owners: @AnySoftKeyboard/add-on-maintainers

added व
  addons/languages/hindi/pack/src/main/res/xml/hindi_inscript.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Create numpad keyboard (numbers, but rows switched)
  addons/languages/numpad/apk/build.gradle
  addons/languages/numpad/apk/flag/flag.svg
  addons/languages/numpad/apk/src/main/AndroidManifest.xml
  addons/languages/numpad/apk/src/main/play/listings/en-US/graphics/feature-graphic/pack_store_feature_graphics.png
  addons/languages/numpad/apk/src/main/play/listings/en-US/graphics/icon/pack_store_icon.png
  addons/languages/numpad/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Landscape.png
  addons/languages/numpad/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Portrait.png
  addons/languages/numpad/apk/src/main/res/mipmap-hdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-mdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-xhdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-xxhdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/values/strings.xml
  addons/languages/numpad/build.gradle
  addons/languages/numpad/pack/build.gradle
  addons/languages/numpad/pack/dictionary/aosp.combined.gz
  addons/languages/numpad/pack/dictionary/inputs/wwf12.txt
  addons/languages/numpad/pack/src/main/AndroidManifest.xml
  addons/languages/numpad/pack/src/main/java/com/anysoftkeyboard/languagepack/numpad/PackBroadcastReceiver.java
  addons/languages/numpad/pack/src/main/res/drawable-hdpi/ic_status_english.png
  addons/languages/numpad/pack/src/main/res/drawable-mdpi/ic_status_english.png
  addons/languages/numpad/pack/src/main/res/drawable-xhdpi/ic_status_english.png
  addons/languages/numpad/pack/src/main/res/drawable-xxhdpi/ic_status_english.png
  addons/languages/numpad/pack/src/main/res/drawable-xxxhdpi/ic_status_english.png
  addons/languages/numpad/pack/src/main/res/values/numpad_pack_strings.xml
  addons/languages/numpad/pack/src/main/res/values/numpad_pack_strings_dont_translate.xml
  addons/languages/numpad/pack/src/main/res/xml/alt_numpad.xml
  addons/languages/numpad/pack/src/main/res/xml/numpad.xml
  addons/languages/numpad/pack/src/main/res/xml/numpad_dictionaries.xml
  addons/languages/numpad/pack/src/main/res/xml/numpad_keyboards.xml
  settings.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-ka/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

removed leftover from dictionaries and added flag.svg
  addons/languages/numpad/apk/flag/flag.svg
  addons/languages/numpad/apk/src/main/play/listings/en-US/graphics/feature-graphic/pack_store_feature_graphics.png
  addons/languages/numpad/apk/src/main/play/listings/en-US/graphics/icon/pack_store_icon.png
  addons/languages/numpad/apk/src/main/res/mipmap-hdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-mdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-xhdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-xxhdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  addons/languages/numpad/pack/dictionary/aosp.combined.gz
  addons/languages/numpad/pack/dictionary/inputs/wwf12.txt
  addons/languages/numpad/pack/src/main/res/drawable-hdpi/ic_status_numpad.png
  addons/languages/numpad/pack/src/main/res/drawable-mdpi/ic_status_numpad.png
  addons/languages/numpad/pack/src/main/res/drawable-xhdpi/ic_status_numpad.png
  addons/languages/numpad/pack/src/main/res/drawable-xxhdpi/ic_status_numpad.png
  addons/languages/numpad/pack/src/main/res/drawable-xxxhdpi/ic_status_numpad.png
  addons/languages/numpad/pack/src/main/res/xml/alt_numpad.xml
  addons/languages/numpad/pack/src/main/res/xml/numpad.xml
  addons/languages/numpad/pack/src/main/res/xml/numpad_keyboards.xml
Owners: @AnySoftKeyboard/add-on-maintainers

add newline and add to PACKS.md
  addons/languages/PACKS.md
  addons/languages/numpad/pack/src/main/res/xml/numpad.xml
Owners: @AnySoftKeyboard/developers, @AnySoftKeyboard/add-on-maintainers

addressed issues/removed Comments
  addons/languages/numpad/apk/src/main/play/listings/en-US/full-description.txt
  addons/languages/numpad/apk/src/main/play/listings/en-US/graphics/feature-graphic/pack_store_feature_graphics.png
  addons/languages/numpad/apk/src/main/play/listings/en-US/graphics/icon/pack_store_icon.png
  addons/languages/numpad/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Landscape.png
  addons/languages/numpad/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Portrait.png
  addons/languages/numpad/apk/src/main/play/listings/en-US/short-description.txt
  addons/languages/numpad/apk/src/main/play/listings/en-US/title.txt
  addons/languages/numpad/apk/src/main/res/mipmap-hdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-mdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-xhdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-xxhdpi/ic_launcher.png
  addons/languages/numpad/apk/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  addons/languages/numpad/pack/build.gradle
  addons/languages/numpad/pack/src/main/res/drawable-hdpi/ic_status_english.png
  addons/languages/numpad/pack/src/main/res/drawable-hdpi/ic_status_numpad.png
  addons/languages/numpad/pack/src/main/res/drawable-mdpi/ic_status_english.png
  addons/languages/numpad/pack/src/main/res/drawable-mdpi/ic_status_numpad.png
  addons/languages/numpad/pack/src/main/res/drawable-xhdpi/ic_status_english.png
  addons/languages/numpad/pack/src/main/res/drawable-xhdpi/ic_status_numpad.png
  addons/languages/numpad/pack/src/main/res/drawable-xxhdpi/ic_status_english.png
  addons/languages/numpad/pack/src/main/res/drawable-xxhdpi/ic_status_numpad.png
  addons/languages/numpad/pack/src/main/res/drawable-xxxhdpi/ic_status_english.png
  addons/languages/numpad/pack/src/main/res/drawable-xxxhdpi/ic_status_numpad.png
  addons/languages/numpad/pack/src/main/res/values/numpad_pack_strings.xml
  addons/languages/numpad/pack/src/main/res/values/numpad_pack_strings_dont_translate.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping Fragment Support library to version 1.5.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

removed Comments
  addons/languages/numpad/pack/src/main/AndroidManifest.xml
  addons/languages/numpad/pack/src/main/res/xml/numpad_dictionaries.xml
Owners: @AnySoftKeyboard/add-on-maintainers

removed empty dictionary and readded deleted status icon link
  addons/languages/numpad/pack/src/main/res/xml/numpad_dictionaries.xml
  addons/languages/numpad/pack/src/main/res/xml/numpad_keyboards.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-ru/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Update GitHub Actions to remove warning and safely store data
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Target API 31 and fixes
  gradle/root_all_projects_ext.gradle
  ime/app/src/main/java/com/anysoftkeyboard/dictionaries/content/ContactsDictionary.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/tutorials/TutorialsProvider.java
  ime/base/src/main/java/com/anysoftkeyboard/base/utils/CompatUtils.java
  ime/chewbacca/src/main/java/com/anysoftkeyboard/chewbacca/ChewbaccaUncaughtExceptionHandler.java
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-de/strings.xml
  ime/app/src/main/res/values-pt/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

auto-approval GH action
  .github/actions/auto_approval/action.yml
  .github/actions/auto_approval/dist/index.js
  .github/actions/auto_approval/index.js
  .github/actions/auto_approval/package-lock.json
  .github/actions/auto_approval/package.json
  .github/workflows/auto_approve.yml
  .gitignore
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Update README.md
  README.md
Owners: @AnySoftKeyboard/developers

Update README.md
  README.md
Owners: @AnySoftKeyboard/developers

auto-approval for local PRs
  .eslintignore
  .eslintrc
  .github/actions/auto_approval/action.yml
  .github/actions/auto_approval/index.js
  .github/actions/auto_approval/package.json
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .gitignore
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Update README.md
  README.md
Owners: @AnySoftKeyboard/developers

Updating js-auto-approval
  .github/actions/auto_approval/dist/index.js
Owners: @AnySoftKeyboard/infra

Automated Robolectric Update
  gradle/root_all_projects_ext.gradle
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

removing jitpack.io
  build.gradle
Owners: @AnySoftKeyboard/maintainers

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
