Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

Removing disused broadcast
  ime/app/src/main/res/drawable/ic_notification_action_approve_permission.xml
  ime/app/src/main/res/drawable/ic_notification_action_dismiss_permission.xml
  ime/prefs/src/main/AndroidManifest.xml
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/PrefType.java
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/PrefValueType.java
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/SharedPreferencesChangeReceiver.java
  ime/prefs/src/test/java/com/anysoftkeyboard/prefs/SharedPreferencesChangeReceiverTest.java
Owners: @AnySoftKeyboard/maintainers

Automated GitHub Actions update from new releases in github.com
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

[Gemini-cli] Fix: Correct API level for nav-bar colorization
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBar.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/EffectsSettingsFragment.java
  ime/app/src/main/res/values-v35/values-v36/settings_defaults_dont_translate.xml
  ime/prefs/src/main/java/com/anysoftkeyboard/prefs/RxSharedPrefs.java
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-eu-rES/strings.xml
  addons/base/apk/src/main/res/values-fr-rFR/strings.xml
  ime/addons/src/main/res/values-eu-rES/strings.xml
  ime/app/src/main/res/values-eu-rES/strings.xml
  ime/app/src/main/res/values-fr-rFR/strings.xml
  ime/app/src/main/res/values-it-rIT/strings.xml
  ime/app/src/main/res/values/force_locale_array_generated.xml
  ime/chewbacca/src/main/res/values-eu-rES/strings.xml
  ime/permissions/src/main/res/values-es-rAR/strings.xml
  ime/permissions/src/main/res/values-eu-rES/strings.xml
  ime/permissions/src/main/res/values-fr-rFR/strings.xml
  ime/pixel/src/main/res/values-eu-rES/strings.xml
  ime/releaseinfo/src/main/res/values-eu-rES/strings.xml
  ime/remote/src/main/res/values-eu-rES/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Automated GitHub Actions update from new releases in github.com
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Automated Android Deps update from maven
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/fileprovider/build.gradle
  ime/prefs/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Update AGENTS.md
  AGENTS.md
Owners: @AnySoftKeyboard/developers

Update AGENTS.md
  AGENTS.md
Owners: @AnySoftKeyboard/developers

Ensure bottom offset is never negative
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBar.java
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardColorizeNavBarTest.java
Owners: @AnySoftKeyboard/maintainers

format fix
  AGENTS.md
Owners: @AnySoftKeyboard/developers

[Gemini-cli] fix: Reload add-ons on device unlock
  ime/addons/src/main/java/com/anysoftkeyboard/addons/UserUnlockedReceiver.java
  ime/addons/src/test/java/com/anysoftkeyboard/addons/UserUnlockedReceiverTest.java
  ime/app/src/main/java/com/anysoftkeyboard/AnySoftKeyboard.java
Owners: @AnySoftKeyboard/maintainers

A bit refactoring, more tests
  ime/addons/src/main/java/com/anysoftkeyboard/addons/AddOnsFactory.java
  ime/addons/src/main/java/com/anysoftkeyboard/addons/PackagesChangedReceiver.java
  ime/addons/src/main/java/com/anysoftkeyboard/addons/UserUnlockedReceiver.java
  ime/addons/src/test/java/com/anysoftkeyboard/addons/PackagesChangedReceiverTest.java
  ime/addons/src/test/java/com/anysoftkeyboard/addons/UserUnlockedReceiverTest.java
  ime/app/src/main/java/com/anysoftkeyboard/AnySoftKeyboard.java
  ime/app/src/main/java/com/menny/android/anysoftkeyboard/AnyApplication.java
Owners: @AnySoftKeyboard/maintainers

Only with API N+
  ime/app/src/main/java/com/anysoftkeyboard/AnySoftKeyboard.java
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Complete implementation of diff localizations
  MODULE.bazel.lock
  ime/addons/src/main/res/values-ar-rSA/strings.xml
  ime/app/src/main/res/values-eu-rES/strings.xml
  js/localization_tools/BUILD.bazel
  js/localization_tools/diff_parser.test.ts
  js/localization_tools/diff_parser.ts
  js/localization_tools/diff_parser/BUILD.bazel
  js/localization_tools/diff_parser/index.ts
  js/localization_tools/index.ts
  js/localization_tools/test_fixtures/fake_diff.txt
  js/localization_tools/test_fixtures/fake_strings.xml
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Call the localization report from the workflow
  .github/workflows/localization_update.yml
  scripts/ci/localization_update_summary.sh
Owners: @AnySoftKeyboard/infra

[Gemini-cli] fix(bazel): resolve visibility issue for diff_parser
  js/localization_tools/BUILD.bazel
  js/localization_tools/diff_parser/index.ts
Owners: @AnySoftKeyboard/maintainers

Use xml2js instead of new dep
  MODULE.bazel.lock
  js/localization_tools/BUILD.bazel
  js/localization_tools/diff_parser.test.ts
  js/localization_tools/diff_parser.ts
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Fix issue when strings are staged
  scripts/ci/localization_update_summary.sh
Owners: @AnySoftKeyboard/infra

AI to verify translations
  MODULE.bazel.lock
  js/ai/BUILD.bazel
  js/ai/index.ts
  js/ai/translation_verification.ts
  package.json
  pnpm-lock.yaml
  scripts/ci/localization_update_summary.sh
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Update localization workflow to verify translations
  .github/workflows/localization_update.yml
  scripts/ci/localization_update_summary.sh
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  ime/addons/src/main/res/values-ar-rSA/strings.xml
  ime/app/src/main/res/values-eu-rES/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

AI also to review original text
  ime/app/src/main/res/values-iw-rIL/strings.xml
  js/ai/translation_verification.ts
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

feat(ci): Create GitHub Release on first production deploy
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

chore(ci): Make GitHub release creation idempotent
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Fixing broken gemini impl
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Automated GitHub Actions update from new releases in github.com
  .github/workflows/checks.yml
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  ime/app/src/main/res/values-iw-rIL/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

feat(ci): Centralize release and deployment halting logic
  .github/actions/deploy/deploy.sh
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Format fix
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Additional small fixes
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Provide gh-token to comment as the bot
  .github/workflows/auto_approve.yml
Owners: @AnySoftKeyboard/infra

Integrting review to the workflow
  .github/workflows/auto_approve.yml
  js/ai/index.ts
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Also prompt about read-multiple-files
  js/ai/ai_code_review.ts
Owners: @AnySoftKeyboard/maintainers

ai-powered code review
  MODULE.bazel.lock
  js/ai/BUILD.bazel
  js/ai/ai_code_review.ts
  js/ai/index.ts
  js/ai/mcp_read_multiple_files.ts
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

lint fix
  js/ai/ai_code_review.ts
Owners: @AnySoftKeyboard/maintainers

[LLM] Fix StringIndexOutOfBoundsException in onPress
  ime/app/src/main/java/com/anysoftkeyboard/AnySoftKeyboard.java
Owners: @AnySoftKeyboard/maintainers

[LLM] Fix crash in emoji keyboard
  ime/app/proguard-rules.txt
Owners: @AnySoftKeyboard/maintainers
