Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Fix checkstyle issues
  ime/pixel/src/main/res/values-v35/app_styles.xml
Owners: @AnySoftKeyboard/maintainers

fix formatting
  js/check_all_green/index.ts
Owners: @AnySoftKeyboard/maintainers

Fix linting issues
  ime/app/src/main/java/com/anysoftkeyboard/devicespecific/DeviceSpecificV26.java
  ime/app/src/main/java/com/anysoftkeyboard/devicespecific/DeviceSpecificV29.java
  ime/app/src/main/java/com/anysoftkeyboard/devicespecific/PressVibratorV26.java
  ime/app/src/main/java/com/anysoftkeyboard/devicespecific/PressVibratorV29.java
  ime/app/src/main/java/com/menny/android/anysoftkeyboard/AnyApplication.java
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardBaseTest.java
  ime/base-test/src/main/java/com/anysoftkeyboard/test/TestUtils.java
  ime/base/src/main/java/com/anysoftkeyboard/base/utils/CompatUtils.java
Owners: @AnySoftKeyboard/maintainers

API level tests fix - due to new api 35
  ime/app/src/test/java/com/anysoftkeyboard/AnySoftKeyboardStartUpAllSdkTest.java
  ime/app/src/test/java/com/menny/android/anysoftkeyboard/AnyApplicationDeviceSpecificAllSdkTest.java
Owners: @AnySoftKeyboard/maintainers

changelog crash fix #4149
  ime/app/src/main/res/navigation/settings_main.xml
Owners: @AnySoftKeyboard/maintainers

Ensure we only have translations from crowdin
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Update changelog closes #4167
  ime/app/src/main/play/release-notes/en-US/alpha.txt
  ime/releaseinfo/src/main/java/com/anysoftkeyboard/releaseinfo/VersionChangeLogs.java
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated gradle 8.14 update
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Root relative to self
  addons/base/apk/build.gradle
  addons/base/build.gradle
  addons/gradle/pack_apk.gradle
  api/build.gradle
  build.gradle
  gradle/android_general.gradle
  gradle/android_unit_test.gradle
  gradle/apk_module.gradle
  ime/addons/build.gradle
  ime/app/build.gradle
  ime/base-rx/build.gradle
  ime/base-test/build.gradle
  ime/base/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/build.gradle
  ime/dictionaries/jnidictionaryv1/build.gradle
  ime/dictionaries/jnidictionaryv2/build.gradle
  ime/fileprovider/build.gradle
  ime/gesturetyping/build.gradle
  ime/nextword/build.gradle
  ime/notification/build.gradle
  ime/overlay/build.gradle
  ime/permissions/build.gradle
  ime/pixel/build.gradle
  ime/prefs/build.gradle
  ime/releaseinfo/build.gradle
  ime/remote/build.gradle
  ime/voiceime/build.gradle
  junit-sharding/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Less tasks in addon-publish
  .github/actions/deploy/deploy.sh
  build.gradle
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Revert "Less tasks in addon-publish"
  .github/actions/deploy/deploy.sh
  build.gradle
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

More hermetic flags
  .bazelrc
Owners: @AnySoftKeyboard/maintainers

Base convert to library
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Add new (other) app module
  vhk/.gitignore
  vhk/build.gradle
  vhk/proguard-rules.pro
  vhk/src/androidTest/java/aditya/wibisana/vhk/ExampleInstrumentedTest.kt
  vhk/src/main/AndroidManifest.xml
  vhk/src/main/java/aditya/wibisana/vhk/MainActivity.kt
  vhk/src/main/res/drawable/ic_launcher_background.xml
  vhk/src/main/res/drawable/ic_launcher_foreground.xml
  vhk/src/main/res/layout/activity_main.xml
  vhk/src/main/res/mipmap-anydpi/ic_launcher.xml
  vhk/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  vhk/src/main/res/mipmap-hdpi/ic_launcher.webp
  vhk/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  vhk/src/main/res/mipmap-mdpi/ic_launcher.webp
  vhk/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  vhk/src/main/res/mipmap-xhdpi/ic_launcher.webp
  vhk/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  vhk/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  vhk/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  vhk/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  vhk/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  vhk/src/main/res/values-night/themes.xml
  vhk/src/main/res/values/colors.xml
  vhk/src/main/res/values/strings.xml
  vhk/src/main/res/values/themes.xml
  vhk/src/test/java/aditya/wibisana/vhk/ExampleUnitTest.kt
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Show vhk to our editor
  settings.gradle
Owners: @AnySoftKeyboard/maintainers

Use java 21
  vhk/build.gradle
Owners: @AnySoftKeyboard/maintainers

Make new module compilable + runnable
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Fix manifest merger error
  vhk/src/main/AndroidManifest.xml
Owners: @AnySoftKeyboard/maintainers

"Temp fix" compile error related to build config
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardBase.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/Keyboard.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/WizardPermissionsFragment.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyKeyboard.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/KeyboardViewContainerView.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to min API
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/CandidateView.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBase.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBase.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/quicktextkeys/ui/FrameKeyboardViewClickListener.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/ui/dev/DeveloperToolsFragment.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/MainFragment.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/wordseditor/EditorWordsAdapter.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/UserInterfaceSettingsFragment.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/KeyboardThemeSelectorFragment.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/AboutAnySoftKeyboardFragment.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/WizardPageWelcomeFragment.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/AbstractAddOnsBrowserFragment.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/LanguageSettingsFragment.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/WizardPageDoneAndMoreSettingsFragment.java
Owners: @AnySoftKeyboard/maintainers

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
