Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Bumping pnpm/action-setup to version 4.1.0.
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Convert deps updater for maven and gh-actions to TypeScript
  .github/workflows/third_party_update.yml
  MODULE.bazel.lock
  js/deps_updater/BUILD.bazel
  js/deps_updater/github_actions_updater.ts
  js/deps_updater/gradle_deps_to_update.ts
  js/deps_updater/gradle_deps_updater.ts
  js/deps_updater/index.ts
  js/deps_updater/latest_version_locator.test.ts
  js/deps_updater/latest_version_locator.ts
  package.json
  pnpm-lock.yaml
  scripts/ci/third-party-update/update_github_actions.sh
  scripts/ci/third-party-update/update_third_party_artifacts.sh
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

fix workflow folder path
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Automated GitHub Actions update from new releases in github.com
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Automated Android Deps update from maven
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Correctly detect BOT accounts for contributions
  js/contributors/contributors.test.ts
  js/contributors/contributors.ts
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated GitHub Actions update from new releases in github.com
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Automated spotless 7.0.4 1.27.0 update
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

show diff on format error
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

bazel build to update MODULE lock
  .github/workflows/third_party_update.yml
  MODULE.bazel.lock
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated Android Deps update from maven
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

format yaml
  .github/workflows/manual_deploy.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

remove Gitter link
  README.md
Owners: @AnySoftKeyboard/developers

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Fixes by human
  .github/workflows/packs_md_update.yml
  addons/gradle/add_on_list_generator.gradle
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers

Fixing missing npm module in runtime
  js/update_aosp_dictionaries/BUILD.bazel
Owners: @AnySoftKeyboard/maintainers

Update packs_md_update.yml
  .github/workflows/packs_md_update.yml
Owners: @AnySoftKeyboard/infra

Show fdroid url if valid
  addons/gradle/add_on_list_generator.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

Automated Packs List Update
  addons/languages/PACKS.md
  addons/themes/PACKS.md
Owners: @AnySoftKeyboard/developers

Update packs_md_update.yml
  .github/workflows/packs_md_update.yml
Owners: @AnySoftKeyboard/infra

Automated Packs List Update
  addons/languages/PACKS.md
  addons/themes/PACKS.md
Owners: @AnySoftKeyboard/developers

update how we push addons yml to the website
  .github/workflows/packs_md_update.yml
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Packs List Update
  addons/languages/PACKS.md
  addons/themes/PACKS.md
Owners: @AnySoftKeyboard/developers

Explicitly specify neo charater shift behavior
  addons/languages/german/pack/src/main/res/xml/de_neo2.xml
  addons/languages/german/pack/src/main/res/xml/de_neo2_simple.xml
Owners: @Pippo8291, @AnySoftKeyboard/add-on-maintainers

Automated Android Deps update from maven
  addons/base/apk/build.gradle
  ime/addons/build.gradle
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/dictionaries/build.gradle
  ime/notification/build.gradle
  ime/permissions/build.gradle
  ime/prefs/build.gradle
  ime/releaseinfo/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

Automated GitHub Actions update from new releases in github.com
  .github/workflows/packs_md_update.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated gradle 8.14.2 update
  gradle/wrapper/gradle-wrapper.properties
Owners: @AnySoftKeyboard/infra

fix unit-tests
  js/contributors/contributors.test.ts
  js/contributors/contributors.ts
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Fix concurrency and bump version for addons
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  addons/build.gradle
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
