Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

Fix error related to "Constant expression required"
  ime/app/src/main/java/com/anysoftkeyboard/ime/KeyboardUIStateHandler.java
Owners: @AnySoftKeyboard/maintainers

Fix error related to build config
  ime/app/build.gradle
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardBase.java
Owners: @AnySoftKeyboard/maintainers

Convert emoji generator to bazel
  build.gradle
  emojis/BUILD.bazel
  emojis/EmojiCollection.java
  emojis/EmojiCollector.java
  emojis/EmojiData.java
  emojis/EmojiKeyboardCreator.java
  emojis/EmojiKeyboardsExtractor.java
  emojis/EmojiLayoutsGenerator.java
  emojis/UnicodeOrgEmojiTestDataParser.java
  emojis/VariantDetector.java
  emojis/data/emoji-test.txt
  emojis/utils/JavaEmojiUtils.java
  gradle/emoji_generator.gradle
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Update emojis automatically
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Remove old unicode data before updating
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Delet unused layouts
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_144.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_145.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_146.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_147.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_148.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_149.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_150.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_151.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_152.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_153.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_154.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_155.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_156.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_157.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_158.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_159.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_160.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_161.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_162.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_163.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_164.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_165.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_166.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_167.xml
  ime/app/src/main/res/xml-v35/quick_text_unicode_emoticons_popup_168.xml
Owners: @AnySoftKeyboard/maintainers

Update update_emoji_layouts.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Update additionals.xml
  addons/languages/english/pack/dictionary/prebuilt/additionals.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Update additionals.xml
  addons/languages/english/pack/dictionary/prebuilt/additionals.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Bumping Android Gradle Plugin to version 8.10.0 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation Safe Args to version 2.9.0 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.9.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.9.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.9.0 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

WIP emoji generator tests and fixes
  MODULE.bazel
  MODULE.bazel.lock
  emojis/BUILD.bazel
  emojis/EmojiData.java
  emojis/EmojiKeyboardCreator.java
  emojis/UnicodeOrgEmojiTestDataParser.java
  emojis/UnicodeOrgEmojiTestDataParserTest.java
  emojis/VariantDetector.java
  emojis/VariantDetectorTest.java
  emojis/utils/JavaEmojiUtils.java
  maven_install.json
Owners: @AnySoftKeyboard/maintainers

User genders and skinTones attr instead of inspecting text
  api/src/main/res/values/keyboard_layout_api.xml
  emojis/BUILD.bazel
  emojis/EmojiKeyboardCreator.java
  emojis/EmojiKeyboardCreatorTest.java
  emojis/fixtures/expected_test_keyboard.xml
  emojis/fixtures/expected_test_keyboard_with_genders_and_skin_tones.xml
  emojis/fixtures/expected_test_keyboard_with_popups.xml
  emojis/fixtures/expected_test_keyboard_with_popups_popup_0.xml
  emojis/utils/JavaEmojiUtils.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyKeyboard.java
  ime/base/src/main/java/com/anysoftkeyboard/utils/EmojiUtils.java
  ime/base/src/main/java/emoji/utils/JavaEmojiUtils.java
  ime/base/src/test/java/com/anysoftkeyboard/utils/EmojiUtilsRobolectricTest.java
  ime/base/src/test/java/com/anysoftkeyboard/utils/EmojiUtilsTest.java
Owners: @AnySoftKeyboard/maintainers

Fix emoji-utils and enums imports
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyPopupKeyboard.java
  ime/app/src/main/java/com/anysoftkeyboard/quicktextkeys/ui/DefaultGenderPrefTracker.java
  ime/app/src/main/java/com/anysoftkeyboard/quicktextkeys/ui/DefaultSkinTonePrefTracker.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/AnyPopupKeyboardTest.java
  ime/app/src/test/java/com/anysoftkeyboard/quicktextkeys/ui/DefaultGenderPrefTrackerTest.java
  ime/app/src/test/java/com/anysoftkeyboard/quicktextkeys/ui/DefaultSkinTonePrefTrackerTest.java
  ime/base/src/main/java/com/anysoftkeyboard/utils/EmojiUtils.java
Owners: @AnySoftKeyboard/maintainers

Fix variants when extra tags specified
  emojis/EmojiCollector.java
  emojis/EmojiKeyboardCreator.java
  emojis/EmojiKeyboardsExtractor.java
  emojis/UnicodeOrgEmojiTestDataParser.java
  emojis/UnicodeOrgEmojiTestDataParserTest.java
  emojis/VariantDetectorTest.java
Owners: @AnySoftKeyboard/maintainers

Fix unit-test compilation
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/AnyPopupKeyboardTest.java
  ime/app/src/test/java/com/anysoftkeyboard/quicktextkeys/ui/DefaultSkinTonePrefTrackerTest.java
Owners: @AnySoftKeyboard/maintainers

Fix localization files delete
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping actions/upload-artifact to version 4.6.2.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/setup-node to version 3.9.1.
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping crowdin/github-action to version 2.7.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping bazel-contrib/setup-bazel to version 0.14.0.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Bumping peter-evans/create-pull-request to version 7.0.8.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
  .github/workflows/update_emoji_layouts.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 4.1.0.
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

unit-test fixes
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/AnyPopupKeyboard.java
  ime/app/src/test/java/com/anysoftkeyboard/keyboards/AnyPopupKeyboardTest.java
Owners: @AnySoftKeyboard/maintainers

Also generate the add-ons declaration xml file
  .aswb/BUILD
  .aswb/build_dependencies.bzl
  .aswb/build_dependencies_android_deps.bzl
  .aswb/build_dependencies_deps.bzl
  .aswb/qs-AnySoftKeyboardb291f677.bzl
  emojis/EmojiCollection.java
  emojis/EmojiCollector.java
  emojis/EmojiKeyboardCreator.java
  emojis/EmojiKeyboardCreatorTest.java
  emojis/EmojiKeyboardsExtractor.java
  emojis/EmojiLayoutsGenerator.java
Owners: @AnySoftKeyboard/maintainers

ignoring bazel-plugin
  .aswb/BUILD
  .aswb/build_dependencies.bzl
  .aswb/build_dependencies_android_deps.bzl
  .aswb/build_dependencies_deps.bzl
  .aswb/qs-AnySoftKeyboardb291f677.bzl
  .gitignore
Owners: @AnySoftKeyboard/maintainers

Fix unit-tests
  ime/app/src/test/java/com/anysoftkeyboard/quicktextkeys/ui/DefaultGenderPrefTrackerTest.java
Owners: @AnySoftKeyboard/maintainers

TS util to delete crowdin translations
  .github/workflows/localization_update.yml
  js/localization_tools/BUILD.bazel
  js/localization_tools/deleter.ts
  js/localization_tools/index.ts
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Using bazel to generate force-locales array
  .github/workflows/localization_update.yml
  ime/app/build.gradle
  ime/app/src/main/res/values/force_locale_array_generated.xml
  js/localization_tools/BUILD.bazel
  js/localization_tools/deleter.ts
  js/localization_tools/index.ts
  js/localization_tools/locales_generator.ts
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Ensure dts are emitted for type-checking
  jest.config.json
  js/auto_approval/approval.ts
  js/check_all_green/green_checker.test.ts
  js/check_all_green/green_checker.ts
  js/localization_tools/BUILD.bazel
  js/localization_tools/deleter.ts
  js/localization_tools/index.ts
  js/ts.bzl
  tsconfig.json
Owners: @AnySoftKeyboard/maintainers

use node for testing js files
  .github/workflows/checks.yml
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  jest.config.json
  js/auto_approval/BUILD.bazel
  js/auto_approval/approval.test.ts
  js/check_all_green/BUILD.bazel
  js/check_all_green/green_checker.test.ts
  js/checkers/BUILD.bazel
  js/checkers/unique_addon_id.test.ts
  js/contributors/BUILD.bazel
  js/contributors/contributors.test.ts
  js/ts_test.bzl
  package.json
  pnpm-lock.yaml
  tools/repo_patches/BUILD.bazel
  tools/repo_patches/rules_nodejs_pr_3802.patch
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Running bazel tests with coverage
  .github/workflows/checks.yml
  emojis/BUILD.bazel
  js/ts.bzl
  js/ts_test.bzl
  tools/BUILD.bazel
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Collect coverage with codecov action
  .github/actions/codecov/action.yml
  .github/actions/codecov/upload_coverage.sh
  .github/workflows/checks.yml
  codecov_android.yml
  codecov_bazel.yml
  js/check_all_green/green_checker.test.ts
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Different coverage for tools and android
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

ignoring generated files
  codecov_android.yml
  codecov_bazel.yml
Owners: @AnySoftKeyboard/maintainers
