Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers

Automated Packs List Update
  addons/languages/PACKS.md
  addons/quicktexts/PACKS.md
  addons/themes/PACKS.md
Owners: @AnySoftKeyboard/developers

Automated spotless 7.0.0.BETA4 1.25.2 update
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Fix yaml config
  .yamlfmt.yml
  tools/BUILD.bazel
Owners: @AnySoftKeyboard/maintainers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Bumping actions/cache to version 4.2.0.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping Android Gradle Plugin to version 8.7.3 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping actions/upload-artifact to version 4.5.0.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping crowdin/github-action to version 2.5.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping bazel-contrib/setup-bazel to version 0.10.0.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping AndroidX core library to version 1.15.0 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
  ime/prefs/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation Safe Args to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping peter-evans/create-pull-request to version 7.0.6.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping Fragment Support library to version 1.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
  ime/chewbacca/build.gradle
  ime/remote/build.gradle
Owners: @AnySoftKeyboard/maintainers

Automated gradle 8.12 update
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-et-rEE/strings.xml
  ime/permissions/src/main/res/values-et-rEE/strings.xml
  ime/pixel/src/main/res/values-et-rEE/strings.xml
  ime/releaseinfo/src/main/res/values-et-rEE/strings.xml
  ime/remote/src/main/res/values-et-rEE/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated spotless 7.0.1 1.25.2 update
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Fix Settings.Secure.ENABLED_INPUT_METHODS not readable on SDK 34+
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/SetupSupport.java
Owners: @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  ime/app/src/main/res/values-pl-rPL/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Fix tests related to new enabled-IME fetch method
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/SetupSupport.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/setup/SetUpKeyboardWizardTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/setup/SetupSupportTest.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/setup/WizardPageEnableKeyboardFragmentTest.java
  ime/app/src/test/java/com/menny/android/anysoftkeyboard/InputMethodManagerShadow.java
  ime/app/src/test/java/com/menny/android/anysoftkeyboard/LauncherSettingsActivityTest.java
Owners: @AnySoftKeyboard/maintainers

Using api-34 get-current-keyboard
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/SetupSupport.java
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/setup/SetupSupportTest.java
  ime/app/src/test/java/com/menny/android/anysoftkeyboard/InputMethodManagerShadow.java
Owners: @AnySoftKeyboard/maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Run format MD files as part of PACKS file creation
  .github/workflows/packs_md_update.yml
  addons/languages/PACKS.md
  addons/quicktexts/PACKS.md
  addons/themes/PACKS.md
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/developers

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Bumping actions/cache to version 4.2.0.
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Bumping Android Gradle Plugin to version 8.8.0 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping actions/upload-artifact to version 4.6.0.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping bazel-contrib/setup-bazel to version 0.12.1.
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping AndroidX core library to version 1.15.0 from https://dl.google.com/dl/android/maven2.
  ime/fileprovider/build.gradle
  ime/prefs/build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping crowdin/github-action to version 2.5.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 2.4.1.
  .github/workflows/checks.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Bumping Navigation Safe Args to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  build.gradle
Owners: @AnySoftKeyboard/maintainers

Bumping peter-evans/create-pull-request to version 7.0.6.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
  .github/workflows/update_aosp_dictionaries.yml
Owners: @AnySoftKeyboard/infra

Bumping Navigation to version 2.8.5 from https://dl.google.com/dl/android/maven2.
  ime/app/build.gradle
Owners: @AnySoftKeyboard/maintainers
