Repository AnySoftKeyboard/AnySoftKeyboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AnySoftKeyboard/maintainers, @menny, @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/developers, @Pippo8291, @lumpidu, @sslaia, @wahballat, @mhdzli, @glemco, @mirfatif

Adding generic main-activity test for all packs
  addons/StoreStuff/assets/MainActivityTest.java.template
  addons/gradle/pack_apk.gradle
  addons/languages/finnish/apk/src/main/play/listings/en-US/graphics/phone-screenshots/1.png
  addons/languages/finnish/apk/src/main/play/listings/en-US/graphics/phone-screenshots/portrait1.png
  addons/languages/finnish/apk/src/main/play/listings/fi-FI/graphics/feature-graphic/pack_store_feature_graphics.png
  addons/languages/finnish/apk/src/main/play/listings/fi-FI/graphics/icon/pack_store_icon.png
  addons/languages/finnish/apk/src/main/play/listings/fi-FI/graphics/phone-screenshots/landscape1.png
  addons/languages/finnish/apk/src/main/play/listings/fi-FI/graphics/phone-screenshots/portrait1.png
  addons/languages/finnish/apk/src/main/play/listings/fi-FI/graphics/phone-screenshots/portrait_numberrow1.png
  addons/languages/finnish/apk/src/main/play/listings/fi-FI/graphics/phone-screenshots/portrait_numbers1.png
  addons/languages/finnish/apk/src/main/play/listings/fi-FI/graphics/phone-screenshots/portrait_symbols1.png
  buildSrc/src/main/java/GeneratePackActivitySources.java
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/infra

Breaking up tasks to fix timeouts and disk storage
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Making the word-list override not static
  ime/app/src/test/java/com/menny/android/anysoftkeyboard/ShadowDictionaryAddOnAndBuilder.java
Owners: @AnySoftKeyboard/maintainers

New way to shard tests and CI checks
  .github/actions/deploy/debug.keystore
  .github/actions/deploy/key_store_password.txt
  .github/actions/deploy/release_test.keystore
  .github/actions/test-shard-run/run_tests.sh
  .github/workflows/checks.yml
  gradle/apk_module.gradle
  scripts/ci/ci_fix_fs.sh
  scripts/modules_sharder.py
  settings.gradle
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated Packs List Update
  addons/languages/PACKS.md
Owners: @AnySoftKeyboard/developers

Giving codecov context on the change
  .github/actions/codecov/upload_coverage.sh
  .github/workflows/auto_approve.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment_promote.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Ensuring ALL projects are included in sharding
  .github/workflows/checks.yml
  scripts/modules_sharder.py
Owners: @AnySoftKeyboard/infra

Bumping cache for newer node
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

Update localization push and pull
  .github/workflows/localization_update.yml
  crowdin.cfg
  scripts/update_strings_from_crowdin_api.sh
  scripts/upload_strings_to_crowdin_api.sh
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Fixed crowdin config file
  .github/workflows/localization_update.yml
  crowdin.cfg
  crowdin.yml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Fix typo in localized module string filename
  crowdin.yml
Owners: @AnySoftKeyboard/maintainers

Adding crowdin config file to CI changes detection
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Adding addons APK strings to CrowdIn
  addons/base/apk/src/main/res/values/strings.xml
  crowdin.yml
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers

A few fixes for localization updates
  ime/app/src/test/java/com/anysoftkeyboard/ui/settings/MainFragmentTest.java
  ime/permissions/src/main/res/values/strings.xml
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/add-on-maintainers

Fix ellipsis in incoming translations
  .github/workflows/localization_update.yml
  ime/app/src/main/res/values-ar-rSA/strings.xml
  ime/app/src/main/res/values-be-rBY/strings.xml
  ime/app/src/main/res/values-ca-rES/strings.xml
  ime/app/src/main/res/values-es-rES/strings.xml
  ime/app/src/main/res/values-fi-rFI/strings.xml
  ime/app/src/main/res/values-hu-rHU/strings.xml
  ime/app/src/main/res/values-pt-rBR/strings.xml
  ime/app/src/main/res/values-pt-rPT/strings.xml
  ime/app/src/main/res/values-ru-rRU/strings.xml
  ime/app/src/main/res/values-tr-rTR/strings.xml
  ime/chewbacca/src/main/res/values-ar-rSA/strings.xml
  ime/chewbacca/src/main/res/values-ro-rRO/strings.xml
  ime/pixel/src/main/res/values-pl-rPL/strings.xml
  ime/pixel/src/main/res/values-ru-rRU/strings.xml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers

Bumping PR creation action
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Automated Contributors List Update
  CONTRIBUTORS.md
Owners: @AnySoftKeyboard/developers

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-hu-rHU/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Preparing release of new packs
  .github/actions/deploy/release_test.keystore
  addons/languages/hackerkeyboardlayout/apk/build.gradle
  addons/languages/numpad/apk/build.gradle
  addons/languages/pilaga/apk/build.gradle
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers

Preparing release of new packs
  .github/actions/deploy/release_test.keystore
  addons/languages/hackerkeyboardlayout/apk/build.gradle
  addons/languages/numpad/apk/build.gradle
  addons/languages/pilaga/apk/build.gradle
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/add-on-maintainers

Fixed test-release keystore
  .github/actions/deploy/release_test.keystore
Owners: @AnySoftKeyboard/infra

Getting a few packs ready for release
  addons/languages/hackerkeyboardlayout/apk/build.gradle
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/graphics/feature-graphic/pack_store_feature_graphics.png
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/graphics/icon/pack_store_icon.png
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/graphics/phone-screenshots/1.Screenshot_Portrait.png
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/graphics/phone-screenshots/2.Screenshot_Landscape.png
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Landscape.jpg
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/graphics/phone-screenshots/Screenshot_Portrait.jpg
  addons/languages/hackerkeyboardlayout/apk/src/main/play/listings/en-US/title.txt
  addons/languages/hackerkeyboardlayout/apk/src/main/res/mipmap-hdpi/ic_launcher.png
  addons/languages/hackerkeyboardlayout/apk/src/main/res/mipmap-mdpi/ic_launcher.png
  addons/languages/hackerkeyboardlayout/apk/src/main/res/mipmap-xhdpi/ic_launcher.png
  addons/languages/hackerkeyboardlayout/apk/src/main/res/mipmap-xxhdpi/ic_launcher.png
  addons/languages/hackerkeyboardlayout/apk/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  addons/languages/numpad/apk/build.gradle
  addons/languages/numpad/apk/src/main/play/contact-email.txt
  addons/languages/numpad/apk/src/main/play/default-language.txt
  addons/languages/pilaga/apk/build.gradle
Owners: @AnySoftKeyboard/add-on-maintainers

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Re-package node binaries after upgrade
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

bump github actions in CI by bot
  .github/workflows/third_party_update.yml
  scripts/ci/third-party-update/update_github_actions.sh
  scripts/file_text_replace_in_place.py
Owners: @AnySoftKeyboard/infra

Bumping actions/setup-node to version 4.0.2.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
Owners: @AnySoftKeyboard/infra

Bumping actions/upload-artifact to version 4.3.1.
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Owners: @AnySoftKeyboard/infra

Bumping crowdin/github-action to version 1.19.0.
  .github/workflows/localization_update.yml
Owners: @AnySoftKeyboard/infra

Bumping pnpm/action-setup to version 3.0.0.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
Owners: @AnySoftKeyboard/infra

Remove re-package check
  .github/workflows/checks.yml
Owners: @AnySoftKeyboard/infra

fix yaml lint
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  .github/actions/auto_approval/dist/index.js
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/infra, @AnySoftKeyboard/maintainers

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-pl-rPL/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Manual spotless bump due to manual fix
  addons/base/apk/src/main/java/com/anysoftkeyboard/addon/apk/MainActivity.kt
  addons/base/apk/src/test/java/com/anysoftkeyboard/addon/apk/MainActivityBaseTest.kt
  build.gradle
  gradle/spotless.gradle
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardClipboard.java
  ime/app/src/main/java/com/anysoftkeyboard/keyboards/views/AnyKeyboardViewBase.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/dev/DeveloperToolsFragment.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/MainFragment.java
  ime/app/src/main/java/com/anysoftkeyboard/ui/settings/setup/WizardPermissionsFragment.java
Owners: @AnySoftKeyboard/add-on-maintainers, @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  addons/base/apk/src/main/res/values-es-rES/strings.xml
  ime/app/src/main/res/values-es-rES/strings.xml
  ime/chewbacca/src/main/res/values-es-rES/strings.xml
  ime/permissions/src/main/res/values-es-rES/strings.xml
  ime/pixel/src/main/res/values-es-rES/strings.xml
  ime/releaseinfo/src/main/res/values-es-rES/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

Show different autofill icon for smart-replies
  ime/app/src/main/java/com/anysoftkeyboard/ime/AnySoftKeyboardInlineSuggestions.java
  ime/app/src/main/res/drawable-hdpi/ic_inline_suggestions_ai.png
  ime/app/src/main/res/drawable-hdpi/ic_inline_suggestions_ai_reply.png
  ime/app/src/main/res/drawable-mdpi/ic_inline_suggestions_ai.png
  ime/app/src/main/res/drawable-mdpi/ic_inline_suggestions_ai_reply.png
  ime/app/src/main/res/drawable-xhdpi/ic_inline_suggestions_ai.png
  ime/app/src/main/res/drawable-xhdpi/ic_inline_suggestions_ai_reply.png
  ime/app/src/main/res/drawable-xxhdpi/ic_inline_suggestions_ai.png
  ime/app/src/main/res/drawable-xxhdpi/ic_inline_suggestions_ai_reply.png
  ime/app/src/main/res/drawable-xxxhdpi/ic_inline_suggestions_ai.png
  ime/app/src/main/res/drawable-xxxhdpi/ic_inline_suggestions_ai_reply.png
  ime/app/src/test/java/com/anysoftkeyboard/ime/AnySoftKeyboardInlineSuggestionsTest.java
  scripts/simple_image_layering.py
Owners: @AnySoftKeyboard/maintainers, @AnySoftKeyboard/infra

Automated JS Dependencies Update Update
  package.json
  pnpm-lock.yaml
Owners: @AnySoftKeyboard/maintainers

Automated Packs List Update
  addons/languages/PACKS.md
Owners: @AnySoftKeyboard/developers

Bumping peter-evans/create-pull-request to version 6.0.2.
  .github/workflows/checks.yml
  .github/workflows/generate_contributors_list.yml
  .github/workflows/localization_update.yml
  .github/workflows/packs_md_update.yml
  .github/workflows/third_party_update.yml
Owners: @AnySoftKeyboard/infra

Automated Localization Update from crowdin
  ime/app/src/main/res/values-zh-rCN/strings.xml
  ime/chewbacca/src/main/res/values-zh-rCN/strings.xml
  ime/permissions/src/main/res/values-zh-rCN/strings.xml
  ime/pixel/src/main/res/values-zh-rCN/strings.xml
  ime/releaseinfo/src/main/res/values-zh-rCN/strings.xml
  ime/remote/src/main/res/values-zh-rCN/strings.xml
Owners: @AnySoftKeyboard/add-on-maintainers

.github/CODEOWNERS:

* @AnySoftKeyboard/maintainers
#only organization owner can change the license
/LICENSE @menny
#core infra structure team can approve github configuration
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
#core infra structure team can approve build scripts and gradle settings
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra
/buildSrc @AnySoftKeyboard/infra
#any active maintainer can change AnySoftKeyboard code
/ime @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/maintainers
**/build.gradle @AnySoftKeyboard/maintainers
#add-on-maintainers can approve all add-on changes and localizations across the code-base
/addons @AnySoftKeyboard/add-on-maintainers
**/strings.xml @AnySoftKeyboard/add-on-maintainers
#any active developer can approve markdowns
**/*.md @AnySoftKeyboard/developers

#specific packs owner
addons/languages/german @Pippo8291 @AnySoftKeyboard/add-on-maintainers
addons/languages/icelandic @lumpidu @AnySoftKeyboard/add-on-maintainers
addons/languages/indonesian @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/nias @sslaia @AnySoftKeyboard/add-on-maintainers
addons/languages/oldnortharabian @wahballat @AnySoftKeyboard/add-on-maintainers
addons/languages/persian @mhdzli @AnySoftKeyboard/add-on-maintainers
addons/languages/piedmontese @glemco @AnySoftKeyboard/add-on-maintainers
addons/languages/urdu @mirfatif @AnySoftKeyboard/add-on-maintainers
